/*

  Layout
  ------

  Utility classes for layout.

*/


/**
 * Overflow
 */
.overflow-hidden   { overflow: hidden; }
.overflow-y-auto   { overflow-y: auto; }
.overflow-y-hidden { overflow-y: hidden; }
.overflow-x-scroll { overflow-x: scroll  }

.tablet({
  .overflow-y-auto-t { .overflow-y-auto; }
});

/**
 * Border Collapse
 */
.collapse { border-collapse: collapse; border-spacing: 0; }

/**
 * Display
 */
.db          { display: block; }
.dib         { display: inline-block; }
.di          { display: inline; }
.dn          { display: none; }
.flex        { display: flex; }
.inline-flex { display: inline-flex; }
.table       { display: table; }
.table-cell  { display: table-cell; }

.desktop-only({
  .dn-d   { .dn; }
});

.tablet({
  .db-t   { .db; }
  .dn-t   { .dn; }
  .flex-t { .flex; }
});

.mobile({
  .dn-m   { .dn; }
  .di-m   { .di; }
  .db-m   { .db; }
  .dib-m  { .dib; }
  .flex-m { .flex; }
});

.xs-mobile({
  .dn-xs-m { .dn; }
});



/**
 * Flex Direction
 */
.flex-column         { flex-direction: column; }
.flex-row            { flex-direction: row; }
.flex-column-reverse { flex-direction: column-reverse; }
.flex-row-reverse    { flex-direction: row-reverse; }

.tablet({
  .flex-row-t { .flex-row; }
  .flex-column-t { .flex-column; }
  .flex-column-reverse-t { .flex-column-reverse; }
});

.mobile({
  .flex-row-m { .flex-row; }
  .flex-column-m { .flex-column; }
  .flex-column-reverse-m { .flex-column-reverse; }
});

/**
 * Flex Wrap
 */
.flex-wrap           { flex-wrap: wrap; }
.flex-nowrap         { flex-wrap: nowrap; }
.flex-wrap-reverse   { flex-wrap: wrap-reverse; }

.tablet({
  .flex-wrap-t  { .flex-wrap; }
});

.mobile({
  .flex-wrap-m       { .flex-wrap; }
});

/**
 * Align Content
 */
.content-start    { align-content: flex-start; }
.content-end      { align-content: flex-end; }
.content-center   { align-content: center; }
.content-baseline { align-content: baseline; }
.content-stretch  { align-content: stretch; }

/**
 * Align Items
 */
.items-start    { align-items: flex-start; }
.items-end      { align-items: flex-end; }
.items-center   { align-items: center; }
.items-baseline { align-items: baseline; }
.items-stretch  { align-items: stretch; }

.tablet({
  .items-start-t  { .items-start; }
  .items-end-t    { .items-end; }
  .items-center-t { .items-center; }
  .items-stretch-t { .items-stretch; }
});

.mobile({
  .items-start-m  { .items-start; }
  .items-end-m    { .items-end; }
  .items-center-m { .items-center; }
  .items-stretch-m { .items-stretch; }
});

/**
 * Align Self
 */
.self-end    { align-self: flex-end; }
.self-start  { align-self: flex-start; }
.self-center { align-self: center; }


.tablet({
  .self-end-t   { .self-end; }
  .self-start-t { .self-start; }
});

/**
 * Justify Content
 */
.justify-start   { justify-content: flex-start; }
.justify-end     { justify-content: flex-end; }
.justify-center  { justify-content: center; }
.justify-between { justify-content: space-between; }
.justify-around  { justify-content: space-around; }
.justify-evenly  { .ie-fix-justify-evenly; justify-content: space-evenly; }

.tablet({
  .justify-start-t   { .justify-start; }
  .justify-end-t     { .justify-end; }
  .justify-center-t  { .justify-center; }
  .justify-between-t { .justify-between; }
  .justify-evenly-t  { .justify-evenly; }
});

.mobile({
  .justify-start-m   { .justify-start; }
  .justify-end-m     { .justify-end; }
  .justify-center-m  { .justify-center; }
  .justify-between-m { .justify-between; }
  .justify-evenly-m  { .justify-evenly; }
});

/**
* Vertical Align
*/
.vertical-align-top         {vertical-align: top         }
.vertical-align-t-top    {vertical-align: text-top    }
.vertical-align-middle      {vertical-align: middle      }
.vertical-align-bottom      {vertical-align: bottom      }
.vertical-align-t-bottom {vertical-align: text-bottom }
.vertical-align-super       {vertical-align: super       }
.vertical-align-sub         {vertical-align: sub         }


/**
 * Flex Basis
 */
.basis0               { flex-basis: 0; }
.basis-auto           { .chrome-nested-flex-column-fix; flex-basis: auto; }
.basis-50             { flex-basis: 50%; }
.basis-100             { flex-basis: 100%}

.tablet({
  .basis0-t { .basis0; }
  .basis-100-t { .basis-100; }
  .basis-auto-t { .basis-auto; }
});

.mobile({
  .basis-browser-column-m {
    flex-basis: 100%;
  }
  .basis-auto-m { .basis-auto; }
  .basis-100-m { .basis-100; }
});

/**
 * Flex Grow
 */
.grow-0 { flex-grow: 0; }
.grow-1 { flex-grow: 1; }
.grow-2 { flex-grow: 2; }
.grow-3 { flex-grow: 3; }
.grow-4 { flex-grow: 4; }
.grow-5 { flex-grow: 5; }
.grow-6 { flex-grow: 6; }

.tablet({
  .grow-0-t { .grow-0; }
  .grow-1-t { .grow-1; }
  .grow-2-t { .grow-2; }
  .grow-4-t { .grow-4; }
  .grow-6-t { .grow-6; }
});

.mobile({
  .grow-0-m { .grow-0; }
});

/**
 * Flex Shrink
 */
.shrink-0 { flex-shrink: 0; }
.shrink-1 { flex-shrink: 1; }
.shrink-2 { flex-shrink: 2; }
.shrink-3 { flex-shrink: 3; }

.tablet({
  .shrink-0-t { .shrink-0; }
});

.mobile({
  .shrink-0-m { .shrink-0; }
  .shrink-1-m { .shrink-1; }
});

/**
 * Float
 */
.flt-l { float: left; }
.flt-n { float: none; }
.flt-r { float: right; }

.tablet({
  .flt-n-t { .flt-n; }
});

/**
 * Position
 */
.static   { position: static; }
.relative { position: relative; }
.absolute { position: absolute; }
.fixed    { position: fixed; }
.sticky   {
  position: -webkit-sticky;
  position: sticky;
}

.tablet({
  .static-t   { .static; }
  .relative-t { .relative; }
  .absolute-t { .absolute; }
  .fixed-t    { .fixed; }
  .sticky-t   { .sticky; }
});

.mobile({
  .static-m   { .static; }
  .relative-m { .relative; }
  .absolute-m { .absolute; }
  .fixed-m    { .fixed; }
  .sticky-m   { .sticky; }
});

/**
 * Z Index
 */
.z0  {  z-index: 0; }
.z5  {  z-index: 5; }
.z10 {  z-index: 10; }
.z15 {  z-index: 15; }
.z20 {  z-index: 20; }
.z25 {  z-index: 25; }
.z30 {  z-index: 30; }
.z35 {  z-index: 35; }
.z40 {  z-index: 40; }
.z45 {  z-index: 45; }
.z50 {  z-index: 50; }
.z55 {  z-index: 55; }
.z60 {  z-index: 60; }
.z65 {  z-index: 65; }
.z105 { z-index: 105; }
.z115 { z-index: 115; } // clash with header dropdown and guidance headers
.z120 { z-index: 120; }

.tablet({
  .z50-t  { .z50; }
  .z55-t  { .z55; }
  .z60-t  { .z60; }
  .z120-t { .z120; }
});

/**
 * Right
 */
.right0               { right: @spacing-0;  }
.right2               { right: @spacing-2;  }
.right4               { right: @spacing-4;  }
.right5               { right: @spacing-5;  }
.right6               { right: @spacing-6;  }
.right7               { right: @spacing-7;  }
.right8               { right: @spacing-8;  }
.right10              { right: @spacing-10; }
.right11              { right: @spacing-11; }
.right12              { right: @spacing-12; }
.right14              { right: @spacing-14; }
.right-100            { right: 100%; }
.right-auto           { right: auto; }
.right-layout-padding { right: @LAYOUT_PADDING; }

.-right7 { right: -@spacing-7 }

.tablet({
  .right-auto-t { .right-auto; }
});

.mobile({
  .right5-m     { .right5; }
  .right6-m     { .right6; }
  .right-auto-m { .right-auto; }
});

/**
 * Left
 */
.left0               { left: @spacing-0; }
.left2               { left: @spacing-2; }
.left4               { left: @spacing-4; }
.left5               { left: @spacing-5; }
.left6               { left: @spacing-6; }
.left7               { left: @spacing-7; }
.left8               { left: @spacing-8; }
.left10              { left: @spacing-10; }
.left11              { left: @spacing-11; }
.left12              { left: @spacing-12; }
.left14              { left: @spacing-14; }
.left-50             { left: 50%; }
.left-100            { left: 100%; }
.left-auto           { left: auto; }
.left-layout-padding { left: @LAYOUT_PADDING; }

.-left7 { left: -@spacing-7 }

.tablet({
  .left0-t               { .left0; }
  .left6-t               { .left6; }
  .left-50-t             { .left-50; }
  .left-layout-padding-t { .left-layout-padding; }
});

.mobile({
  .left5-m     { .left5; }
  .left-50-m   { .left-50; }
  .left-auto-m { .left-auto; }
});

/**
 * Top
 */
.top0    { top: @spacing-0; }
.top1    { top: @spacing-1; }
.top2    { top: @spacing-2; }
.top4    { top: @spacing-4; }
.top6    { top: @spacing-6; }
.top7    { top: @spacing-7; }
.top8    { top: @spacing-8; }
.top9    { top: @spacing-9; }
.top10   { top: @spacing-10; }
.top12   { top: @spacing-12; }
.top14   { top: @spacing-14; }
.top-30  { top: 30%; }
.top-50  { top: 50%; }
.top-100 { top: 100%; }

.tablet({
  .top-nav-height { top: @nav-height-tablet; }
  .partner-banner.top-nav-height,
  .partner-banner .top-nav-height {
    top: calc(@nav-height-tablet + @partner-banner-height-tablet);
  }
});

.mobile({
  .top0-m { .top0; }
  .top-nav-height { top: @nav-height-mobile; }
  .partner-banner.top-nav-height,
  .partner-banner .top-nav-height {
    top: calc(@nav-height-mobile + @partner-banner-height-mobile);
  }
});

.tablet({
  .top0-t { .top0; }
});

.mobile({
  .top4-m { .top4; }
  .top6-m { .top6; }
  .top9-m { .top9; }
});

/**
 * Bottom
 */
.bottom0  { bottom: @spacing-0; }
.bottom2  { bottom: @spacing-2; }
.bottom4  { bottom: @spacing-4; }
.bottom6  { bottom: @spacing-6; }
.bottom7  { bottom: @spacing-7; }
.bottom8  { bottom: @spacing-8; }
.bottom9  { bottom: @spacing-9; }
.bottom10 { bottom: @spacing-10; }
.bottom12 { bottom: @spacing-12; }
.bottom13 { bottom: @spacing-13; }
.bottom14 { bottom: @spacing-14; }
.bottom-layout-padding { bottom: @LAYOUT_PADDING; }

.tablet({
  .bottom7-t  { .bottom7; }
  .bottom12-t { .bottom12;}
});

/**
 * Width
 */
.w0  { width: 0; }
.w1  { width: @spacing-1; }
.w2  { width: @spacing-2; }
.w3  { width: @spacing-3; }
.w4  { width: @spacing-4; }
.w5  { width: @spacing-5; }
.w6  { width: @spacing-6; }
.w7  { width: @spacing-7; }
.w8  { width: @spacing-8; }
.w9  { width: @spacing-9; }
.w10 { width: @spacing-10; }
.w11 { width: @spacing-11; }
.w12 { width: @spacing-12; }
.w13 { width: @spacing-13; }
.w14 { width: @spacing-14; }

.w-icon-1   { width: @icon-width-1; }
.w-icon-2   { width: @icon-width-2; }
.w-icon-3   { width: @icon-width-3; }
.w-icon-4   { width: @icon-width-4; }
.w-icon-5   { width: @icon-width-5; }
.w-icon-6   { width: @icon-width-6; }
.w-icon-7   { width: @icon-width-7; }
.w-icon-8   { width: @icon-width-8; }
.w-icon-9   { width: @icon-width-9; }
.w-icon-10  { width: @icon-width-10; }
.w-icon-11  { width: @icon-width-11; }
.w-icon-12  { width: @icon-width-12; }
.w-icon-13  { width: @icon-width-13; }
.w-icon-14  { width: @icon-width-14; }
.w-icon-15  { width: @icon-width-15; }
.w-icon-16  { width: @icon-width-16; }
.w-icon-17  { width: @icon-width-17; }
.w-icon-18  { width: @icon-width-18; }
.w-icon-19  { width: @icon-width-19; }
.w-icon-20  { width: @icon-width-20; }
.w-image-1  { width: @image-width-1; }
.w-image-2  { width: @image-width-2; }
.w-image-3  { width: @image-width-3; }
.w-image-4  { width: @image-width-4; }
.w-image-5  { width: @image-width-5; }
.w-image-6  { width: @image-width-6; }
.w-image-7  { width: @image-width-7; }
.w-image-8  { width: @image-width-8; }
.w-image-9  { width: @image-width-9; }
.w-image-10 { width: @image-width-10; }
.w-image-11 { width: @image-width-11; }
.w-image-12 { width: @image-width-12; }
.w-image-13 { width: @image-width-13; }
.w-image-61 { width: @image-width-61; }

.w-10       { width:  10%; }
.w-20       { width:  20%; }
.w-30       { width:  30%; }
.w-35       { width:  35%; }
.w-40       { width:  40%; }
.w-45       { width:  45%; }
.w-50       { width:  50%; }
.w-55       { width:  55%; }
.w-60       { width:  60%; }
.w-65       { width:  65%; }
.w-70       { width:  70%; }
.w-75       { width:  75%; }
.w-80       { width:  80%; }
.w-90       { width:  90%; }
.w-95       { width:  95%; }
.w-100      { width: 100%; }
.w-measure-1{ width: @measure-1; }
.w-measure-2{ width: @measure-2; }
.w-measure-3{ width: @measure-3; }
.w-measure-4{ width: @measure-4; }
.w-measure-5{ width: @measure-5; }
.w-measure-6{ width: @measure-6; }
.w-fit      { width: fit-content; }
.w-quarter  { width: 25%;        }
.w-third    { width: calc(100% / 3); }
.vw-100     { width: 100vw; }
.vw-90      { width: 90vw; }
.w-auto     { width: auto; }

.desktop({
  .w-measure-3-d { .w-measure-3; }
});

.tablet({
  .w-icon-3-t    { .w-icon-3; }
  .w-icon-10-t   { .w-icon-10; }
  .w-image-1-t   { .w-image-1; }
  .w-image-2-t   { .w-image-2; }
  .w-image-5-t   { .w-image-5; }
  .w-image-10-t  { .w-image-10; }
  .w-image-12-t  { .w-image-12; }
  .w-measure-2-t { .w-measure-2; }
  .w-40-t        { .w-40; }
  .w-50-t        { .w-50; }
  .w-80-t        { .w-80; }
  .w-90-t        { .w-90; }
  .w-100-t       { .w-100; }
  .w-auto-t      { .w-auto; }
});

.mobile({
  .w6-m         { .w6; }
  .w7-m         { .w7; }
  .w8-m         { .w8; }
  .w-icon-3-m   { .w-icon-3; }
  .w-icon-5-m   { .w-icon-5; }
  .w-icon-9-m   { .w-icon-9; }
  .w-icon-10-m  { .w-icon-10; }
  .w-icon-12-m  { .w-icon-12; }
  .w-image-1-m  { .w-image-1; }
  .w-image-5-m  { .w-image-5; }
  .w-image-10-m { .w-image-10; }
  .w-image-12-m { .w-image-12; }
  .w-image-5-m { .w-image-5; }
  .w-50-m { .w-50; }
  .w-60-m { .w-60; }
  .w-70-m { .w-70; }
  .w-80-m { .w-80; }
  .w-90-m { .w-90; }
  .w-100-m { .w-100; }
  .w-measure-1-m { .w-measure-1; }
  .w-measure-2-m { .w-measure-2; }
  .vw-100-m { .vw-100; }
  .w-auto-m { .w-auto; }
});

.xs-mobile({
  .w-auto-xs-m { .w-auto; }
});

/**
 * Max Width
 */
.max-w-image-1   { max-width: @image-width-1; }
.max-w-image-2   { max-width: @image-width-2; }
.max-w-image-3   { max-width: @image-width-3; }
.max-w-image-4   { max-width: @image-width-4; }
.max-w-image-5   { max-width: @image-width-5; }
.max-w-image-6   { max-width: @image-width-6; }
.max-w-image-7   { max-width: @image-width-7; }
.max-w-image-8   { max-width: @image-width-8; }
.max-w-image-9   { max-width: @image-width-9; }
.max-w-image-10  { max-width: @image-width-10; }
.max-w-image-11  { max-width: @image-width-11; }
.max-w-image-12  { max-width: @image-width-12; }
.max-w-image-13  { max-width: @image-width-13; }
.max-w-measure-1 { max-width: @measure-1; }
.max-w-measure-2 { max-width: @measure-2; }
.max-w-measure-3 { max-width: @measure-3; }
.max-w-measure-4 { max-width: @measure-4; }
.max-w-measure-5 { max-width: @measure-5; }
.max-w-measure-6 { max-width: @measure-6; }
.max-w-measure-7 { max-width: @measure-7; }
.max-w-50        { max-width: 50%; }
.max-w-100       { max-width: 100%; }
.max-w-page      { max-width: @PAGE_MAX_WIDTH; }
.max-w-layout    { max-width: @LAYOUT_MAX_WIDTH; }
.max-w-none      { max-width: none; }

.tablet({
  .max-w-none-t { .max-w-none; }
  .max-w-measure-3-t { .max-w-measure-3; }
  .max-w-100-t { .max-w-100; }
});

.mobile({
  .max-w-none-m { .max-w-none; }
  .max-w-image-2-m { .max-w-image-2; }
  .max-w-image-3-m { .max-w-image-3; }
  .max-w-image-4-m { .max-w-image-4; }
  .max-w-image-5-m { .max-w-image-5; }
  .max-w-image-6-m { .max-w-image-6; }
});

/**
 * Min Width
 */
.min-w0          { min-width: 0; }
.min-w-icon-1    { min-width: @icon-width-1; }
.min-w-icon-2    { min-width: @icon-width-2; }
.min-w-icon-3    { min-width: @icon-width-3; }
.min-w-icon-4    { min-width: @icon-width-4; }
.min-w-icon-5    { min-width: @icon-width-5; }
.min-w-icon-6    { min-width: @icon-width-6; }
.min-w-icon-7    { min-width: @icon-width-7; }
.min-w-icon-8    { min-width: @icon-width-8; }
.min-w-icon-9    { min-width: @icon-width-9; }
.min-w-icon-10   { min-width: @icon-width-10; }
.min-w-icon-11   { min-width: @icon-width-11; }
.min-w-icon-12   { min-width: @icon-width-12; }
.min-w-icon-13   { min-width: @icon-width-13; }
.min-w-icon-14   { min-width: @icon-width-14; }
.min-w-icon-18   { min-width: @icon-width-18; }
.min-w-image-1   { min-width: @image-width-1; }
.min-w-image-2   { min-width: @image-width-2; }
.min-w-image-3   { min-width: @image-width-3; }
.min-w-image-4   { min-width: @image-width-4; }
.min-w-image-5   { min-width: @image-width-5; }
.min-w-image-6   { min-width: @image-width-6; }
.min-w-image-7   { min-width: @image-width-7; }
.min-w-image-8   { min-width: @image-width-8; }
.min-w-image-9   { min-width: @image-width-9; }
.min-w-image-10  { min-width: @image-width-10; }
.min-w-image-11  { min-width: @image-width-11; }
.min-w-image-12  { min-width: @image-width-12; }
.min-w-image-13  { min-width: @image-width-13; }
.min-w-measure-0 { min-width: @measure-0; }
.min-w-measure-1 { min-width: @measure-1; }
.min-w-measure-3 { min-width: @measure-3; }
.min-w-measure-4 { min-width: @measure-4; }
.min-w-measure-7 { min-width: @measure-7; }
.min-w-third     { min-width: calc(100% / 3); }
.min-w-75        { min-width: 75%; }
.min-w-auto      { min-width: auto; }
.min-vw-60       { min-width: 60vw; }

.desktop-only({
  .min-w-measure-7-d { .min-w-measure-7; }
});

.mobile({
  .min-w-auto-m { .min-w-auto; }
  .min-vw-60-m  { .min-vw-60; }
});

/**
 * Height
 */
.h0        { height: 0; }
.h-icon-1  { height: @icon-width-1; }
.h-icon-2  { height: @icon-width-2; }
.h-icon-3  { height: @icon-width-3; }
.h-icon-4  { height: @icon-width-4; }
.h-icon-5  { height: @icon-width-5; }
.h-icon-6  { height: @icon-width-6; }
.h-icon-7  { height: @icon-width-7; }
.h-icon-8  { height: @icon-width-8; }
.h-icon-9  { height: @icon-width-9; }
.h-icon-10 { height: @icon-width-10; }
.h-icon-11 { height: @icon-width-11; }
.h-icon-12 { height: @icon-width-12; }
.h-icon-13 { height: @icon-width-13; }
.h-icon-14 { height: @icon-width-14; }
.h-icon-15 { height: @icon-width-15; }
.h-icon-16 { height: @icon-width-16; }
.h-icon-17 { height: @icon-width-17; }
.h-icon-18 { height: @icon-width-18; }
.h-icon-19 { height: @icon-width-19; }
.h-icon-20 { height: @icon-width-20; }
.h-image-1 { height: @image-width-1; }
.h-image-2 { height: @image-width-2; }
.h-image-3 { height: @image-width-3; }
.h-image-4 { height: @image-width-4; }
.h-image-5 { height: @image-width-5; }
.h-image-9 { height: @image-width-9; }
.h-image-12 { height: @image-width-12; }
.h-image-13 { height: @image-width-13; }
.h-measure-0 { height: @measure-0; }
.h-measure-1 { height: @measure-1; }
.h-measure-2 { height: @measure-2; }
.h-measure-3 { height: @measure-3; }
.h-measure-4 { height: @measure-4; }
.h-measure-5 { height: @measure-5; }
.h-5       { height: 5%;   }
.h-10      { height: 10%;  }
.h-15      { height: 15%;  }
.h-20      { height: 20%;  }
.h-30      { height: 30%;  }
.h-35      { height: 35%;  }
.h-40      { height: 40%;  }
.h-45      { height: 45%;  }
.h-50      { height: 50%;  }
.h-55      { height: 55%;  }
.h-60      { height: 60%;  }
.h-70      { height: 70%;  }
.h-80      { height: 80%;  }
.h-100     { height: 100%; }
.h-auto    { height: auto; }
.h-inherit { height: inherit; }
.vh-100    { height: 100vh; }

.vh-100-minus-nav { height: calc(100vh - @nav-height-desktop); }
.partner-banner.vh-100-minus-nav,
.partner-banner .vh-100-minus-nav {
  height: calc(100vh - (@nav-height-desktop + @partner-banner-height-desktop));
}

.tablet({
  .vh-100-minus-nav { height: calc(100vh - @nav-height-tablet); }
  .vh-100-minus-nav-t { height: calc(100vh - @nav-height-tablet); } // For tablet alone
  .partner-banner.vh-100-minus-nav,
  .partner-banner .vh-100-minus-nav {
    height: calc(100vh - (@nav-height-tablet + @partner-banner-height-tablet));
  }
  .h-image-2-t { .h-image-2; }
  .h-measure-1-t { .h-measure-1; }
  .h-measure-2-t { .h-measure-2; }
  .h-measure-3-t { .h-measure-3; }
  .h-measure-4-t { .h-measure-4; }
  .h-measure-5-t { .h-measure-5; }
  .h-image-1-t   { .h-image-1; }
  .h-30-t { .h-30; }
  .h-60-t { .h-60; }
  .h-auto-t { .h-auto; }
  .h-100-t { .h-100; }
});

.mobile({
  .vh-100-minus-nav { height: calc(100vh - @nav-height-mobile); .vh-100-minus-nav-mobile-fix; }
  .partner-banner.vh-100-minus-nav,
  .partner-banner .vh-100-minus-nav {
    height: calc(100vh - (@nav-height-mobile + @partner-banner-height-mobile));
    .vh-100-minus-nav-banner-mobile-fix;
  }
  .h-icon-8-m    { .h-icon-8;    }
  .h-icon-10-m   { .h-icon-10; }
  .h-measure-1-m { .h-measure-1; }
  .h-image-1-m   { .h-image-1; }
  .h-measure-2-m { .h-measure-2; }
  .h-measure-3-m { .h-measure-3; }
  .h-measure-4-m { .h-measure-4; }
  .h-measure-5-m { .h-measure-5; }
  .h-image-5-m   { .h-image-5; }
  .h-20-m        { .h-20; }
  .h-30-m        { .h-30; }
  .h-40-m        { .h-40; }
  .h-50-m        { .h-50; }
  .h-100-m       { .h-100; }
  .h-auto-m      { .h-auto; }
});

/**
 * Max Height
 */
.max-h-image-13  { max-height: @image-width-13; }
.max-h-icon-9    { max-height: @icon-width-9; }
.max-h-measure-0 { max-height: @measure-0; }
.max-h-measure-1 { max-height: @measure-1; }
.max-h-measure-2 { max-height: @measure-2; }
.max-h-measure-3 { max-height: @measure-3; }
.max-h-none      { max-height: none; }
.max-h0          { max-height: 0; }
.max-vh-50       { max-height: 50vh; }
.max-h-100       { max-height: 100%; }

.max-vh-100      { max-height: 100vh; }

.tablet({
  .max-vh-50-t { .max-vh-50; }
});

.mobile({
  .max-h-measure-2-m { .max-h-measure-2; }
});

/**
 * Min Height
 */
.min-h0          { min-height: 0; }
.min-h-image-1   { min-height: @image-width-1; }
.min-h-image-6   { min-height: @image-width-6; }
.min-h-image-10  { min-height: @image-width-10; }
.min-h-image-11  { min-height: @image-width-11; }
.min-h-image-12  { min-height: @image-width-12; }
.min-h-measure-1 { min-height: @measure-1; }
.min-h-measure-2 { min-height: @measure-2; }
.min-h-measure-3 { min-height: @measure-3; }
.min-h-measure-4 { min-height: @measure-4; }
.min-h-measure-5 { min-height: @measure-5; }
.min-h-measure-6 { min-height: @measure-6; }
.min-h-100       { min-height: 100%;       }
.min-vh-100      { min-height: 100vh; .margin-collapse-fix; }
.min-vh-100-minus-nav { min-height: calc(100vh - @nav-height-desktop); .margin-collapse-fix; }
.partner-banner.min-vh-100-minus-nav,
.partner-banner .min-vh-100-minus-nav {
  min-height: calc(100vh - (@nav-height-desktop + @partner-banner-height-desktop));
}

.tablet({
  .min-h0-t { .min-h0; }
  .min-h-image-10-t  { .min-h-image-10; }
  .min-h-image-12-t  { .min-h-image-12; }
  .min-vh-100-minus-nav { min-height: calc(100vh - @nav-height-tablet); }
  .partner-banner.min-vh-100-minus-nav,
  .partner-banner .min-vh-100-minus-nav {
    min-height: calc(100vh - (@nav-height-tablet + @partner-banner-height-tablet));
  }
});

.mobile({
  .min-h0-m { .min-h0; }
  .min-h-image-1-m  { .min-h-image-1; }
  .min-h-image-12-m  { .min-h-image-12; }
  .min-vh-100-minus-nav { min-height: calc(100vh - @nav-height-mobile); }
  .partner-banner.min-vh-100-minus-nav,
  .partner-banner .min-vh-100-minus-nav {
    min-height: calc(100vh - (@nav-height-mobile + @partner-banner-height-mobile));
  }
  .min-h-100-m { .min-h-100; }
});

.v-mid { vertical-align: middle; }

// vertically center a div for all browsers
.outer {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}
