/*

  Spacing
  -------

  Utility classes for margins and paddings.

*/

/**
 * Padding All
 */
.pa0  { padding: @spacing-0; }
.pa1  { padding: @spacing-1; }
.pa2  { padding: @spacing-2; }
.pa3  { padding: @spacing-3; }
.pa4  { padding: @spacing-4; }
.pa5  { padding: @spacing-5; }
.pa6  { padding: @spacing-6; }
.pa7  { padding: @spacing-7; }
.pa8  { padding: @spacing-8; }
.pa9  { padding: @spacing-9; }
.pa10 { padding: @spacing-10; }
.pa11 { padding: @spacing-11; }
.pa12 { padding: @spacing-12; }
.pa13 { padding: @spacing-13; }
.pa14 { padding: @spacing-14; }

.tablet({
  .pa0-t  { .pa0; }
  .pa1-t  { .pa1; }
  .pa2-t  { .pa2; }
  .pa3-t  { .pa3; }
  .pa4-t  { .pa4; }
  .pa5-t  { .pa5; }
  .pa6-t  { .pa6; }
  .pa7-t  { .pa7; }
  .pa8-t  { .pa8; }
  .pa9-t  { .pa9; }
  .pa11-t { .pa10; }
  .pa10-t { .pa11; }
  .pa12-t { .pa12; }
  .pa13-t { .pa13; }
  .pa14-t { .pa14; }
});

.mobile({
  .pa0-m  { .pa0; }
  .pa1-m  { .pa1; }
  .pa2-m  { .pa2; }
  .pa3-m  { .pa3; }
  .pa4-m  { .pa4; }
  .pa5-m  { .pa5; }
  .pa6-m  { .pa6; }
  .pa7-m  { .pa7; }
  .pa8-m  { .pa8; }
  .pa9-m  { .pa9; }
  .pa11-m { .pa10; }
  .pa10-m { .pa11; }
  .pa12-m { .pa12; }
  .pa13-m { .pa13; }
  .pa14-m { .pa14; }
});

/**
 * Padding Left
 */
.pl0  { padding-left: @spacing-0; }
.pl1  { padding-left: @spacing-1; }
.pl2  { padding-left: @spacing-2; }
.pl3  { padding-left: @spacing-3; }
.pl4  { padding-left: @spacing-4; }
.pl5  { padding-left: @spacing-5; }
.pl6  { padding-left: @spacing-6; }
.pl7  { padding-left: @spacing-7; }
.pl8  { padding-left: @spacing-8; }
.pl9  { padding-left: @spacing-9; }
.pl10 { padding-left: @spacing-10; }
.pl11 { padding-left: @spacing-11; }
.pl12 { padding-left: @spacing-12; }
.pl13 { padding-left: @spacing-13; }
.pl14 { padding-left: @spacing-14; }

.tablet({
  .pl0-t  { .pl0; }
  .pl1-t  { .pl1; }
  .pl2-t  { .pl2; }
  .pl3-t  { .pl3; }
  .pl4-t  { .pl4; }
  .pl5-t  { .pl5; }
  .pl6-t  { .pl6; }
  .pl7-t  { .pl7; }
  .pl8-t  { .pl8; }
  .pl9-t  { .pl9; }
  .pl11-t { .pl10; }
  .pl10-t { .pl11; }
  .pl12-t { .pl12; }
  .pl13-t { .pl13; }
  .pl14-t { .pl14; }
});

.mobile({
  .pl0-m  { .pl0; }
  .pl1-m  { .pl1; }
  .pl2-m  { .pl2; }
  .pl3-m  { .pl3; }
  .pl4-m  { .pl4; }
  .pl5-m  { .pl5; }
  .pl6-m  { .pl6; }
  .pl7-m  { .pl7; }
  .pl8-m  { .pl8; }
  .pl9-m  { .pl9; }
  .pl11-m { .pl10; }
  .pl10-m { .pl11; }
  .pl12-m { .pl12; }
  .pl13-m { .pl13; }
  .pl14-m { .pl14; }
});

/**
 * Padding Right
 */
.pr0  { padding-right: @spacing-0; }
.pr1  { padding-right: @spacing-1; }
.pr2  { padding-right: @spacing-2; }
.pr3  { padding-right: @spacing-3; }
.pr4  { padding-right: @spacing-4; }
.pr5  { padding-right: @spacing-5; }
.pr6  { padding-right: @spacing-6; }
.pr7  { padding-right: @spacing-7; }
.pr8  { padding-right: @spacing-8; }
.pr9  { padding-right: @spacing-9; }
.pr10 { padding-right: @spacing-10; }
.pr11 { padding-right: @spacing-11; }
.pr12 { padding-right: @spacing-12; }
.pr13 { padding-right: @spacing-13; }
.pr14 { padding-right: @spacing-14; }

.tablet({
  .pr0-t  { .pr0; }
  .pr1-t  { .pr1; }
  .pr2-t  { .pr2; }
  .pr3-t  { .pr3; }
  .pr4-t  { .pr4; }
  .pr5-t  { .pr5; }
  .pr6-t  { .pr6; }
  .pr7-t  { .pr7; }
  .pr8-t  { .pr8; }
  .pr9-t  { .pr9; }
  .pr11-t { .pr10; }
  .pr10-t { .pr11; }
  .pr12-t { .pr12; }
  .pr13-t { .pr13; }
  .pr14-t { .pr14; }
});

.mobile({
  .pr0-m  { .pr0; }
  .pr1-m  { .pr1; }
  .pr2-m  { .pr2; }
  .pr3-m  { .pr3; }
  .pr4-m  { .pr4; }
  .pr5-m  { .pr5; }
  .pr6-m  { .pr6; }
  .pr7-m  { .pr7; }
  .pr8-m  { .pr8; }
  .pr9-m  { .pr9; }
  .pr11-m { .pr10; }
  .pr10-m { .pr11; }
  .pr12-m { .pr12; }
  .pr13-m { .pr13; }
  .pr14-m { .pr14; }
});

/**
 * Padding Bottom
 */

// NOTE: These come first bc they sometimes have to be overridden by pb0
.pb-30 { padding-bottom: 30%; }
.pb-75  { padding-bottom: 75%; }
.pb-56  { padding-bottom: 56.25%; } // 16:9 aspect ratio
.pb-two-thirds { padding-bottom: calc(calc(100% / 3) * 2); }
.pb-100 { padding-bottom: 100%; }

.pb0  { padding-bottom: @spacing-0; }
.pb1  { padding-bottom: @spacing-1; }
.pb2  { padding-bottom: @spacing-2; }
.pb3  { padding-bottom: @spacing-3; }
.pb4  { padding-bottom: @spacing-4; }
.pb5  { padding-bottom: @spacing-5; }
.pb6  { padding-bottom: @spacing-6; }
.pb7  { padding-bottom: @spacing-7; }
.pb8  { padding-bottom: @spacing-8; }
.pb9  { padding-bottom: @spacing-9; }
.pb10 { padding-bottom: @spacing-10; }
.pb11 { padding-bottom: @spacing-11; }
.pb12 { padding-bottom: @spacing-12; }
.pb13 { padding-bottom: @spacing-13; }
.pb14 { padding-bottom: @spacing-14; }

.tablet({
  .pb-56-t  { .pb-56; }
  .pb-two-thirds-t { .pb-two-thirds; }
  .pb-75-t  { .pb-75; }
  .pb-100-t { .pb-100; }
  .pb0-t   { .pb0; }
  .pb1-t   { .pb1; }
  .pb2-t   { .pb2; }
  .pb3-t   { .pb3; }
  .pb4-t   { .pb4; }
  .pb5-t   { .pb5; }
  .pb6-t   { .pb6; }
  .pb7-t   { .pb7; }
  .pb8-t   { .pb8; }
  .pb9-t   { .pb9; }
  .pb10-t  { .pb10; }
  .pb11-t  { .pb11; }
  .pb12-t  { .pb12; }
  .pb13-t  { .pb13; }
  .pb14-t  { .pb14; }
});

.mobile({
  .pb-56-m  { .pb-56; }
  .pb-two-thirds-m { .pb-two-thirds; }
  .pb-75-m  { .pb-75; }
  .pb-100-m { .pb-100; }
  .pb0-m  { .pb0; }
  .pb1-m  { .pb1; }
  .pb2-m  { .pb2; }
  .pb3-m  { .pb3; }
  .pb4-m  { .pb4; }
  .pb5-m  { .pb5; }
  .pb6-m  { .pb6; }
  .pb7-m  { .pb7; }
  .pb8-m  { .pb8; }
  .pb9-m  { .pb9; }
  .pb11-m { .pb10; }
  .pb10-m { .pb11; }
  .pb12-m { .pb12; }
  .pb13-m { .pb13; }
  .pb14-m { .pb14; }
});

/**
 * Padding Top
 */
.pt0  { padding-top: @spacing-0; }
.pt1  { padding-top: @spacing-1; }
.pt2  { padding-top: @spacing-2; }
.pt3  { padding-top: @spacing-3; }
.pt4  { padding-top: @spacing-4; }
.pt5  { padding-top: @spacing-5; }
.pt6  { padding-top: @spacing-6; }
.pt7  { padding-top: @spacing-7; }
.pt8  { padding-top: @spacing-8; }
.pt9  { padding-top: @spacing-9; }
.pt10 { padding-top: @spacing-10; }
.pt11 { padding-top: @spacing-11; }
.pt12 { padding-top: @spacing-12; }
.pt13 { padding-top: @spacing-13; }
.pt14 { padding-top: @spacing-14; }

.tablet({
  .pt0-t  { .pt0; }
  .pt1-t  { .pt1; }
  .pt2-t  { .pt2; }
  .pt3-t  { .pt3; }
  .pt4-t  { .pt4; }
  .pt5-t  { .pt5; }
  .pt6-t  { .pt6; }
  .pt7-t  { .pt7; }
  .pt8-t  { .pt8; }
  .pt9-t  { .pt9; }
  .pt11-t { .pt10; }
  .pt10-t { .pt11; }
  .pt12-t { .pt12; }
  .pt13-t { .pt13; }
  .pt14-t { .pt14; }
});

.mobile({
  .pt0-m  { .pt0; }
  .pt1-m  { .pt1; }
  .pt2-m  { .pt2; }
  .pt3-m  { .pt3; }
  .pt4-m  { .pt4; }
  .pt5-m  { .pt5; }
  .pt6-m  { .pt6; }
  .pt7-m  { .pt7; }
  .pt8-m  { .pt8; }
  .pt9-m  { .pt9; }
  .pt11-m { .pt10; }
  .pt10-m { .pt11; }
  .pt12-m { .pt12; }
  .pt13-m { .pt13; }
  .pt14-m { .pt14; }
});

/**
 * Padding Vertical
 */
.pv0  { padding-top: @spacing-0; padding-bottom: @spacing-0; }
.pv1  { padding-top: @spacing-1; padding-bottom: @spacing-1; }
.pv2  { padding-top: @spacing-2; padding-bottom: @spacing-2; }
.pv3  { padding-top: @spacing-3; padding-bottom: @spacing-3; }
.pv4  { padding-top: @spacing-4; padding-bottom: @spacing-4; }
.pv5  { padding-top: @spacing-5; padding-bottom: @spacing-5; }
.pv6  { padding-top: @spacing-6; padding-bottom: @spacing-6; }
.pv7  { padding-top: @spacing-7; padding-bottom: @spacing-7; }
.pv8  { padding-top: @spacing-8; padding-bottom: @spacing-8; }
.pv9  { padding-top: @spacing-9; padding-bottom: @spacing-9; }
.pv10 { padding-top: @spacing-10; padding-bottom: @spacing-10; }
.pv11 { padding-top: @spacing-11; padding-bottom: @spacing-11; }
.pv12 { padding-top: @spacing-12; padding-bottom: @spacing-12; }
.pv13 { padding-top: @spacing-13; padding-bottom: @spacing-13; }
.pv14 { padding-top: @spacing-14; padding-bottom: @spacing-14; }

.tablet({
  .pv0-t  { .pv0; }
  .pv1-t  { .pv1; }
  .pv2-t  { .pv2; }
  .pv3-t  { .pv3; }
  .pv4-t  { .pv4; }
  .pv5-t  { .pv5; }
  .pv6-t  { .pv6; }
  .pv7-t  { .pv7; }
  .pv8-t  { .pv8; }
  .pv9-t  { .pv9; }
  .pv11-t { .pv10; }
  .pv10-t { .pv11; }
  .pv12-t { .pv12; }
  .pv13-t { .pv13; }
  .pv14-t { .pv14; }
});

.mobile({
  .pv0-m  { .pv0; }
  .pv1-m  { .pv1; }
  .pv2-m  { .pv2; }
  .pv3-m  { .pv3; }
  .pv4-m  { .pv4; }
  .pv5-m  { .pv5; }
  .pv6-m  { .pv6; }
  .pv7-m  { .pv7; }
  .pv8-m  { .pv8; }
  .pv9-m  { .pv9; }
  .pv11-m { .pv10; }
  .pv10-m { .pv11; }
  .pv12-m { .pv12; }
  .pv13-m { .pv13; }
  .pv14-m { .pv14; }
});

/**
 * Padding Horizontal
 */
.ph0  { padding-left: @spacing-0; padding-right: @spacing-0; }
.ph1  { padding-left: @spacing-1; padding-right: @spacing-1; }
.ph2  { padding-left: @spacing-2; padding-right: @spacing-2; }
.ph3  { padding-left: @spacing-3; padding-right: @spacing-3; }
.ph4  { padding-left: @spacing-4; padding-right: @spacing-4; }
.ph5  { padding-left: @spacing-5; padding-right: @spacing-5; }
.ph6  { padding-left: @spacing-6; padding-right: @spacing-6; }
.ph7  { padding-left: @spacing-7; padding-right: @spacing-7; }
.ph8  { padding-left: @spacing-8; padding-right: @spacing-8; }
.ph9  { padding-left: @spacing-9; padding-right: @spacing-9; }
.ph10 { padding-left: @spacing-10; padding-right: @spacing-10; }
.ph11 { padding-left: @spacing-11; padding-right: @spacing-11; }
.ph12 { padding-left: @spacing-12; padding-right: @spacing-12; }
.ph13 { padding-left: @spacing-13; padding-right: @spacing-13; }
.ph14 { padding-left: @spacing-14; padding-right: @spacing-14; }

.tablet({
  .ph0-t  { .ph0; }
  .ph1-t  { .ph1; }
  .ph2-t  { .ph2; }
  .ph3-t  { .ph3; }
  .ph4-t  { .ph4; }
  .ph5-t  { .ph5; }
  .ph6-t  { .ph6; }
  .ph7-t  { .ph7; }
  .ph8-t  { .ph8; }
  .ph9-t  { .ph9; }
  .ph11-t { .ph10; }
  .ph10-t { .ph11; }
  .ph12-t { .ph12; }
  .ph13-t { .ph13; }
  .ph14-t { .ph14; }
});

.mobile({
  .ph0-m  { .ph0; }
  .ph1-m  { .ph1; }
  .ph2-m  { .ph2; }
  .ph3-m  { .ph3; }
  .ph4-m  { .ph4; }
  .ph5-m  { .ph5; }
  .ph6-m  { .ph6; }
  .ph7-m  { .ph7; }
  .ph8-m  { .ph8; }
  .ph9-m  { .ph9; }
  .ph11-m { .ph10; }
  .ph10-m { .ph11; }
  .ph12-m { .ph12; }
  .ph13-m { .ph13; }
  .ph14-m { .ph14; }
});

.xs-mobile({
  .ph0-xs-m { .ph0; }  
});


/**
 * Margin All
 */
.ma0    { margin: @spacing-0; }
.ma1    { margin: @spacing-1; }
.ma2    { margin: @spacing-2; }
.ma3    { margin: @spacing-3; }
.ma4    { margin: @spacing-4; }
.ma5    { margin: @spacing-5; }
.ma6    { margin: @spacing-6; }
.ma7    { margin: @spacing-7; }
.ma8    { margin: @spacing-8; }
.ma9    { margin: @spacing-9; }
.ma10   { margin: @spacing-10; }
.ma11   { margin: @spacing-11; }
.ma12   { margin: @spacing-12; }
.ma13   { margin: @spacing-13; }
.ma14   { margin: @spacing-14; }
.maauto { margin: auto; }

.tablet({
  .ma0-t    { .ma0; }
  .ma1-t    { .ma1; }
  .ma2-t    { .ma2; }
  .ma3-t    { .ma3; }
  .ma4-t    { .ma4; }
  .ma5-t    { .ma5; }
  .ma6-t    { .ma6; }
  .ma7-t    { .ma7; }
  .ma8-t    { .ma8; }
  .ma9-t    { .ma9; }
  .ma11-t   { .ma10; }
  .ma10-t   { .ma11; }
  .ma12-t   { .ma12; }
  .ma13-t   { .ma13; }
  .ma14-t   { .ma14; }
  .maauto-t { .maauto; }
});

.mobile({
  .ma0-m    { .ma0; }
  .ma1-m    { .ma1; }
  .ma2-m    { .ma2; }
  .ma3-m    { .ma3; }
  .ma4-m    { .ma4; }
  .ma5-m    { .ma5; }
  .ma6-m    { .ma6; }
  .ma7-m    { .ma7; }
  .ma8-m    { .ma8; }
  .ma9-m    { .ma9; }
  .ma11-m   { .ma10; }
  .ma10-m   { .ma11; }
  .ma12-m   { .ma12; }
  .ma13-m   { .ma13; }
  .ma14-m   { .ma14; }
  .maauto-m { .maauto; }
});

/**
 * Margin Left
 */
.ml0    { margin-left: @spacing-0; }
.ml1    { margin-left: @spacing-1; }
.ml2    { margin-left: @spacing-2; }
.ml3    { margin-left: @spacing-3; }
.ml4    { margin-left: @spacing-4; }
.ml5    { margin-left: @spacing-5; }
.ml6    { margin-left: @spacing-6; }
.ml7    { margin-left: @spacing-7; }
.ml8    { margin-left: @spacing-8; }
.ml9    { margin-left: @spacing-9; }
.ml10   { margin-left: @spacing-10; }
.ml11   { margin-left: @spacing-11; }
.ml12   { margin-left: @spacing-12; }
.ml13   { margin-left: @spacing-13; }
.ml14   { margin-left: @spacing-14; }
.ml-5   { margin-left: 5%;  }
.ml-10  { margin-left: 10%; }
.ml-70  { margin-left: 70%; }
.mlauto { margin-left: auto; }

.tablet({
  .ml0-t    { .ml0; }
  .ml1-t    { .ml1; }
  .ml2-t    { .ml2; }
  .ml3-t    { .ml3; }
  .ml4-t    { .ml4; }
  .ml5-t    { .ml5; }
  .ml6-t    { .ml6; }
  .ml7-t    { .ml7; }
  .ml8-t    { .ml8; }
  .ml9-t    { .ml9; }
  .ml11-t   { .ml10; }
  .ml10-t   { .ml11; }
  .ml12-t   { .ml12; }
  .ml13-t   { .ml13; }
  .ml14-t   { .ml14; }
  .mlauto-t { .mlauto; }
});

.mobile({
  .ml0-m    { .ml0; }
  .ml1-m    { .ml1; }
  .ml2-m    { .ml2; }
  .ml3-m    { .ml3; }
  .ml4-m    { .ml4; }
  .ml5-m    { .ml5; }
  .ml6-m    { .ml6; }
  .ml7-m    { .ml7; }
  .ml8-m    { .ml8; }
  .ml9-m    { .ml9; }
  .ml11-m   { .ml10; }
  .ml10-m   { .ml11; }
  .ml12-m   { .ml12; }
  .ml13-m   { .ml13; }
  .ml14-m   { .ml14; }
  .mlauto-m { .mlauto; }
});

/**
 * Margin Right
 */
.mr0    { margin-right: @spacing-0; }
.mr1    { margin-right: @spacing-1; }
.mr2    { margin-right: @spacing-2; }
.mr3    { margin-right: @spacing-3; }
.mr4    { margin-right: @spacing-4; }
.mr5    { margin-right: @spacing-5; }
.mr6    { margin-right: @spacing-6; }
.mr7    { margin-right: @spacing-7; }
.mr8    { margin-right: @spacing-8; }
.mr9    { margin-right: @spacing-9; }
.mr10   { margin-right: @spacing-10; }
.mr11   { margin-right: @spacing-11; }
.mr12   { margin-right: @spacing-12; }
.mr13   { margin-right: @spacing-13; }
.mr14   { margin-right: @spacing-14; }
.mr-5   { margin-right: 5%;  }
.mr-10  { margin-right: 10%; }
.mr-70  { margin-right: 70%; }
.mrauto { margin-right: auto; }

.tablet({
  .mr0-t    { .mr0; }
  .mr1-t    { .mr1; }
  .mr2-t    { .mr2; }
  .mr3-t    { .mr3; }
  .mr4-t    { .mr4; }
  .mr5-t    { .mr5; }
  .mr6-t    { .mr6; }
  .mr7-t    { .mr7; }
  .mr8-t    { .mr8; }
  .mr9-t    { .mr9; }
  .mr11-t   { .mr10; }
  .mr10-t   { .mr11; }
  .mr12-t   { .mr12; }
  .mr13-t   { .mr13; }
  .mr14-t   { .mr14; }
  .mrauto-t { .mrauto; }
});

.mobile({
  .mr0-m    { .mr0; }
  .mr1-m    { .mr1; }
  .mr2-m    { .mr2; }
  .mr3-m    { .mr3; }
  .mr4-m    { .mr4; }
  .mr5-m    { .mr5; }
  .mr6-m    { .mr6; }
  .mr7-m    { .mr7; }
  .mr8-m    { .mr8; }
  .mr9-m    { .mr9; }
  .mr11-m   { .mr10; }
  .mr10-m   { .mr11; }
  .mr12-m   { .mr12; }
  .mr13-m   { .mr13; }
  .mr14-m   { .mr14; }
  .mrauto-m { .mrauto; }
});

/**
 * Margin Bottom
 */
.mb0    { margin-bottom: @spacing-0; }
.mb1    { margin-bottom: @spacing-1; }
.mb2    { margin-bottom: @spacing-2; }
.mb3    { margin-bottom: @spacing-3; }
.mb4    { margin-bottom: @spacing-4; }
.mb5    { margin-bottom: @spacing-5; }
.mb6    { margin-bottom: @spacing-6; }
.mb7    { margin-bottom: @spacing-7; }
.mb8    { margin-bottom: @spacing-8; }
.mb9    { margin-bottom: @spacing-9; }
.mb10   { margin-bottom: @spacing-10; }
.mb11   { margin-bottom: @spacing-11; }
.mb12   { margin-bottom: @spacing-12; }
.mb13   { margin-bottom: @spacing-13; }
.mb14   { margin-bottom: @spacing-14; }
.mbauto { margin-bottom: auto; }

.last-child-mb0:last-child { .mb0; }

.tablet({
  .mb0-t    { .mb0; }
  .mb1-t    { .mb1; }
  .mb2-t    { .mb2; }
  .mb3-t    { .mb3; }
  .mb4-t    { .mb4; }
  .mb5-t    { .mb5; }
  .mb6-t    { .mb6; }
  .mb7-t    { .mb7; }
  .mb8-t    { .mb8; }
  .mb9-t    { .mb9; }
  .mb11-t   { .mb10; }
  .mb10-t   { .mb11; }
  .mb12-t   { .mb12; }
  .mb13-t   { .mb13; }
  .mb14-t   { .mb14; }
  .mbauto-t { .mbauto; }
});

.mobile({
  .mb0-m    { .mb0; }
  .mb1-m    { .mb1; }
  .mb2-m    { .mb2; }
  .mb3-m    { .mb3; }
  .mb4-m    { .mb4; }
  .mb5-m    { .mb5; }
  .mb6-m    { .mb6; }
  .mb7-m    { .mb7; }
  .mb8-m    { .mb8; }
  .mb9-m    { .mb9; }
  .mb11-m   { .mb10; }
  .mb10-m   { .mb11; }
  .mb12-m   { .mb12; }
  .mb13-m   { .mb13; }
  .mb14-m   { .mb14; }
  .mbauto-m { .mbauto; }
});

/**
 * Margin Top
 */
.mt0    {  margin-top: @spacing-0; }
.mt1    {  margin-top: @spacing-1; }
.mt2    {  margin-top: @spacing-2; }
.mt3    {  margin-top: @spacing-3; }
.mt4    {  margin-top: @spacing-4; }
.mt5    {  margin-top: @spacing-5; }
.mt6    {  margin-top: @spacing-6; }
.mt7    {  margin-top: @spacing-7; }
.mt8    {  margin-top: @spacing-8; }
.mt9    {  margin-top: @spacing-9; }
.mt10   {  margin-top: @spacing-10; }
.mt11   {  margin-top: @spacing-11; }
.mt12   {  margin-top: @spacing-12; }
.mt13   {  margin-top: @spacing-13; }
.mt14   {  margin-top: @spacing-14; }
.mt-60  {  margin-top: 60%; }
.mt-measure-0 { margin-top: @measure-0; }
.mt-measure-2 { margin-top: @measure-2; }
.mtauto { margin-top: auto; }

.tablet({
  .mt0-t          { .mt0; }
  .mt1-t          { .mt1; }
  .mt2-t          { .mt2; }
  .mt3-t          { .mt3; }
  .mt4-t          { .mt4; }
  .mt5-t          { .mt5; }
  .mt6-t          { .mt6; }
  .mt7-t          { .mt7; }
  .mt8-t          { .mt8; }
  .mt9-t          { .mt9; }
  .mt11-t         { .mt10; }
  .mt10-t         { .mt11; }
  .mt12-t         { .mt12; }
  .mt13-t         { .mt13; }
  .mt14-t         { .mt14; }
  .mt-measure-2-t { .mt-measure-2; }
  .mtauto-t       { .mtauto; }
});

.mobile({
  .mt0-m          { .mt0; }
  .mt1-m          { .mt1; }
  .mt2-m          { .mt2; }
  .mt3-m          { .mt3; }
  .mt4-m          { .mt4; }
  .mt5-m          { .mt5; }
  .mt6-m          { .mt6; }
  .mt7-m          { .mt7; }
  .mt8-m          { .mt8; }
  .mt9-m          { .mt9; }
  .mt11-m         { .mt10; }
  .mt10-m         { .mt11; }
  .mt12-m         { .mt12; }
  .mt13-m         { .mt13; }
  .mt14-m         { .mt14; }
  .mt-60-m        { .mt-60; }
  .mt-measure-0-m { .mt-measure-0; }
  .mtauto-m       { .mtauto; }
});

/**
 * Margin Vertical
 */
.mv0    { margin-top: @spacing-0; margin-bottom: @spacing-0; }
.mv1    { margin-top: @spacing-1; margin-bottom: @spacing-1; }
.mv2    { margin-top: @spacing-2; margin-bottom: @spacing-2; }
.mv3    { margin-top: @spacing-3; margin-bottom: @spacing-3; }
.mv4    { margin-top: @spacing-4; margin-bottom: @spacing-4; }
.mv5    { margin-top: @spacing-5; margin-bottom: @spacing-5; }
.mv6    { margin-top: @spacing-6; margin-bottom: @spacing-6; }
.mv7    { margin-top: @spacing-7; margin-bottom: @spacing-7; }
.mv8    { margin-top: @spacing-8; margin-bottom: @spacing-8; }
.mv9    { margin-top: @spacing-9; margin-bottom: @spacing-9; }
.mv10   { margin-top: @spacing-10; margin-bottom: @spacing-10; }
.mv11   { margin-top: @spacing-11; margin-bottom: @spacing-11; }
.mv12   { margin-top: @spacing-12; margin-bottom: @spacing-12; }
.mv13   { margin-top: @spacing-13; margin-bottom: @spacing-13; }
.mv14   { margin-top: @spacing-14; margin-bottom: @spacing-14; }
.mvauto { margin-top: auto; margin-bottom: auto; }

.tablet({
  .mv0-t    { .mv0; }
  .mv1-t    { .mv1; }
  .mv2-t    { .mv2; }
  .mv3-t    { .mv3; }
  .mv4-t    { .mv4; }
  .mv5-t    { .mv5; }
  .mv6-t    { .mv6; }
  .mv7-t    { .mv7; }
  .mv8-t    { .mv8; }
  .mv9-t    { .mv9; }
  .mv11-t   { .mv10; }
  .mv10-t   { .mv11; }
  .mv12-t   { .mv12; }
  .mv13-t   { .mv13; }
  .mv14-t   { .mv14; }
  .mvauto-t { .mvauto; }
});

.mobile({
  .mv0-m    { .mv0; }
  .mv1-m    { .mv1; }
  .mv2-m    { .mv2; }
  .mv3-m    { .mv3; }
  .mv4-m    { .mv4; }
  .mv5-m    { .mv5; }
  .mv6-m    { .mv6; }
  .mv7-m    { .mv7; }
  .mv8-m    { .mv8; }
  .mv9-m    { .mv9; }
  .mv11-m   { .mv10; }
  .mv10-m   { .mv11; }
  .mv12-m   { .mv12; }
  .mv13-m   { .mv13; }
  .mv14-m   { .mv14; }
  .mvauto-m { .mvauto; }
});

/**
 * Margin Horizontal
 */
.mh0    { margin-left: @spacing-0; margin-right: @spacing-0; }
.mh1    { margin-left: @spacing-1; margin-right: @spacing-1; }
.mh2    { margin-left: @spacing-2; margin-right: @spacing-2; }
.mh3    { margin-left: @spacing-3; margin-right: @spacing-3; }
.mh4    { margin-left: @spacing-4; margin-right: @spacing-4; }
.mh5    { margin-left: @spacing-5; margin-right: @spacing-5; }
.mh6    { margin-left: @spacing-6; margin-right: @spacing-6; }
.mh7    { margin-left: @spacing-7; margin-right: @spacing-7; }
.mh8    { margin-left: @spacing-8; margin-right: @spacing-8; }
.mh9    { margin-left: @spacing-9; margin-right: @spacing-9; }
.mh10   { margin-left: @spacing-10; margin-right: @spacing-10; }
.mh11   { margin-left: @spacing-11; margin-right: @spacing-11; }
.mh12   { margin-left: @spacing-12; margin-right: @spacing-12; }
.mh13   { margin-left: @spacing-13; margin-right: @spacing-13; }
.mh14   { margin-left: @spacing-14; margin-right: @spacing-14; }
.mhauto { margin-left: auto; margin-right: auto; }
.mh-10  { margin-left: 10%; margin-right: 10%; }

.tablet({
  .mh0-t  { .mh0; }
  .mh1-t  { .mh1; }
  .mh2-t  { .mh2; }
  .mh3-t  { .mh3; }
  .mh4-t  { .mh4; }
  .mh5-t  { .mh5; }
  .mh6-t  { .mh6; }
  .mh7-t  { .mh7; }
  .mh8-t  { .mh8; }
  .mh9-t  { .mh9; }
  .mh11-t { .mh10; }
  .mh10-t { .mh11; }
  .mh12-t { .mh12; }
  .mh13-t { .mh13; }
  .mh14-t { .mh14; }
  .mhauto-t { .mhauto; }
});

.mobile({
  .mh0-m  { .mh0; }
  .mh1-m  { .mh1; }
  .mh2-m  { .mh2; }
  .mh3-m  { .mh3; }
  .mh4-m  { .mh4; }
  .mh5-m  { .mh5; }
  .mh6-m  { .mh6; }
  .mh7-m  { .mh7; }
  .mh8-m  { .mh8; }
  .mh9-m  { .mh9; }
  .mh10-m { .mh10; }
  .mh11-m { .mh11; }
  .mh12-m { .mh12; }
  .mh13-m { .mh13; }
  .mh14-m { .mh14; }
  .mhauto-m { .mhauto; }
});
