/*

  Theming
  -------

  Utility classes for theming.

*/

/**
 * Image Rendering
 */
.bicubic { -ms-interpolation-mode: bicubic; image-rendering: optimizeQuality; }
.fit-image { object-fit: cover; }; // makes image keep ratio while filling container
.scale-down-image { object-fit: scale-down; };
.contain-image { object-fit: contain; };
.position-image-50-30 { object-position: 50% 30%; }

.tablet({
  .contain-image-t { .contain-image; }
});

/**
 * Visibility
 */
.hidden { visibility: hidden; }

/**
 * Pointer Events
 */
.no-pointer-events { pointer-events: none; }

/**
 * List Style
 */
.list-reset { list-style: none; }

/**
 * Transition
 */
.transition-all     { transition: all 0.2s ease; }
.transition-all-0_6 { transition: all 0.6s ease; }

/**
 * Cursor
 */
.default-cursor { cursor: default;     }
.pointer        { cursor: pointer;     }
.not-allowed    { cursor: not-allowed; }
.all-scroll     { cursor: all-scroll;  }

.disabled-default-cursor:disabled { .default-cursor; }

/**
 * Outline
 */
.outline-0 { outline: 0; outline: none; }
.focus-outline-0:focus { .outline-0; }

/**
 * Filter
 */
.filter-o-40 { filter: opacity(40%); }
.filter-o-60 { filter: opacity(60%); }
.filter-brighter-115 { filter: brightness(115%); }
.filter-blur {
  -webkit-filter: blur(2px); /* Safari 6.0 - 9.0 */
  filter: blur(2px);
}
.hover-filter-o-40:hover { .filter-o-40; }
.hover-filter-brighter-115:hover { .filter-brighter-115; }

/**
 * Opacity
 */
.o-100 { opacity: 1; }
.o-90  { opacity: 0.9; }
.o-80  { opacity: 0.8; }
.o-70  { opacity: 0.7; }
.o-60  { opacity: 0.6; }
.o-50  { opacity: 0.5; }
.o-40  { opacity: 0.4; }
.o-30  { opacity: 0.3; }
.o-20  { opacity: 0.2; }
.o-10  { opacity: 0.1; }
.o-05  { opacity: 0.05; }
.o-025 { opacity: 0.025; }
.o-0   { opacity: 0; }

.hover-o-90:hover { .o-90; }
/**
 * Color
 */
.alice-blue       { color: @alice-blue; }
.black            { color: @black; }
.blue-grey        { color: @blue-grey; }
.color-inherit    { color: inherit; }
.cobalt           { color: @cobalt; }
.coral            { color: @coral; }
.crimson          { color: @crimson; }
.cyan             { color: @cyan; }
.dark-green       { color: @dark-green; }
.dark-grey        { color: @dark-grey; }
.dark-slate-blue  { color: @dark-slate-blue; }
.dark-slate-grey  { color: @dark-slate-grey; }
.dim-grey         { color: @dim-grey; }
.forest-green     { color: @forest-green; }
.goldenrod        { color: @goldenrod; }
.grey             { color: @grey; }
.light-cyan       { color: @light-cyan; }
.light-grey       { color: @light-grey; }
.light-sea-green  { color: @light-sea-green; }
.light-silver     { color: @light-silver; }
.medium-sea-green { color: @medium-sea-green; }
.mid-grey         { color: @mid-grey; }
.midnight-blue-1  { color: @midnight-blue-1; }
.midnight-blue-2  { color: @midnight-blue-2; }
.moon-grey        { color: @moon-grey; }
.navy             { color: @navy; }
.near-black       { color: @near-black; }
.near-white       { color: @near-white; }
.peru             { color: @peru; }
.pink             { color: @pink; }
.royal-blue-1     { color: @royal-blue-1; }
.royal-blue-2     { color: @royal-blue-2; }
.royal-blue-3     { color: @royal-blue-3; }
.shamrock         { color: @shamrock; }
.silver           { color: @silver; }
.steel-blue       { color: @steel-blue; }
.transparent      { color: transparent; }
.white            { color: @white; }

.mid-grey-fade-40          { color: fade(@mid-grey, 40%); }
.mid-grey-fade-60          { color: fade(@mid-grey, 60%); }
.light-sea-green-darken-20 { color: darken(@light-sea-green, 20%); }
.royal-blue-1-fade-60      { color: fade(@royal-blue-1, 60%); }
.white-fade-40             { color: fade(@white, 40%); }
.white-fade-60             { color: fade(@white, 60%); }
.white-fade-70             { color: fade(@white, 70%); }
.white-fade-80             { color: fade(@white, 80%); }

.focus-light-sea-green:focus  { .light-sea-green; }
.hover-alice-blue:hover       { color: @alice-blue; }
.hover-black:hover            { color: @black; }
.hover-blue-grey:hover        { color: @blue-grey; }
.hover-coral:hover            { color: @coral; }
.hover-crimson:hover          { color: @crimson; }
.hover-cyan:hover             { color: @cyan; }
.hover-dark-green:hover       { color: @dark-green; }
.hover-dark-grey:hover        { color: @dark-grey; }
.hover-dark-slate-grey:hover  { color: @dark-slate-grey; }
.hover-dim-grey:hover         { color: @dim-grey; }
.hover-forest-green:hover     { color: @forest-green; }
.hover-goldenrod:hover        { color: @goldenrod; }
.hover-grey:hover             { color: @grey; }
.hover-light-cyan:hover       { color: @light-cyan; }
.hover-light-grey:hover       { color: @light-grey; }
.hover-light-sea-green:hover  { color: @light-sea-green; }
.hover-light-silver:hover     { color: @light-silver; }
.hover-medium-sea-green:hover { color: @medium-sea-green; }
.hover-mid-grey:hover         { color: @mid-grey; }
.hover-midnight-blue-1:hover  { color: @midnight-blue-1; }
.hover-midnight-blue-2:hover  { color: @midnight-blue-2; }
.hover-moon-grey:hover        { color: @moon-grey; }
.hover-navy:hover             { color: @navy; }
.hover-near-black:hover       { color: @near-black; }
.hover-near-white:hover       { color: @near-white; }
.hover-peru:hover             { color: @peru; }
.hover-pink:hover             { color: @pink; }
.hover-royal-blue-1:hover     { color: @royal-blue-1; }
.hover-royal-blue-2:hover     { color: @royal-blue-2; }
.hover-royal-blue-3:hover     { color: @royal-blue-3; }
.hover-silver:hover           { color: @silver; }
.hover-steel-blue:hover       { color: @steel-blue; }
.hover-white:hover            { color: @white; }
.hover-black-fade-40:hover      { color: fade(@black, 40%); }
.hover-dark-grey-fade-40:hover  { color: fade(@dark-grey, 40%); }
.hover-grey-fade-40:hover       { color: fade(@grey, 40%); }
.hover-navy-fade-80:hover       { color: fade(@navy, 80%); }
.hover-white-fade-40:hover      { .white-fade-40; }
.hover-light-sea-green-fade-40:hover  { color: fade(@light-sea-green, 40%); }

.placeholder-white::placeholder { .white; }
.placeholder-white::-ms-input-placeholder { .white; }
.placeholder-dark-slate-grey::placeholder { .dark-slate-grey; }
.placeholder-mid-grey-fade-60::placeholder { .mid-grey-fade-60; }

.link-children-color-inherit a { .color-inherit; }

.safari-disabled-input-fix-light-sea-green {
  .safari-disabled-input-fix(@light-sea-green);
}

.tablet({
  .navy-t { .navy; }
  .silver-t { .silver; }
  .hover-navy-t:hover { .navy; }
});

.mobile({
  .silver-m { .silver; }
  .hover-navy-m:hover   { .navy; }
  .hover-silver-m:hover { .silver; }
});


/**
 * Background Color
 */
.bg-alice-blue       { background-color: @alice-blue; }
.bg-black            { background-color: @black; }
.bg-blue-grey        { background-color: @blue-grey; }
.bg-coral            { background-color: @coral; }
.bg-crimson          { background-color: @crimson; }
.bg-cyan             { background-color: @cyan; }
.bg-dark-green       { background-color: @dark-green; }
.bg-dark-grey        { background-color: @dark-grey; }
.bg-dark-slate-blue  { background-color: @dark-slate-blue; }
.bg-dark-slate-grey  { background-color: @dark-slate-grey; }
.bg-dim-grey         { background-color: @dim-grey; }
.bg-forest-green     { background-color: @forest-green; }
.bg-goldenrod        { background-color: @goldenrod; }
.bg-grey             { background-color: @grey; }
.bg-light-cyan       { background-color: @light-cyan; }
.bg-light-grey       { background-color: @light-grey; }
.bg-light-moon-grey  { background-color: @light-moon-grey; }
.bg-light-sea-green  { background-color: @light-sea-green; }
.bg-light-silver     { background-color: @light-silver; }
.bg-medium-sea-green { background-color: @medium-sea-green; }
.bg-mid-grey         { background-color: @mid-grey; }
.bg-midnight-blue-1  { background-color: @midnight-blue-1; }
.bg-midnight-blue-2  { background-color: @midnight-blue-2; }
.bg-moon-grey        { background-color: @moon-grey; }
.bg-navy             { background-color: @navy; }
.bg-near-black       { background-color: @near-black; }
.bg-near-white       { background-color: @near-white; }
.bg-peru             { background-color: @peru; }
.bg-pink             { background-color: @pink; }
.bg-royal-blue-1     { background-color: @royal-blue-1; }
.bg-royal-blue-2     { background-color: @royal-blue-2; }
.bg-royal-blue-3     { background-color: @royal-blue-3; }
.bg-shamrock         { background-color: @shamrock; }
.bg-silver           { background-color: @silver; }
.bg-steel-blue       { background-color: @steel-blue; }
.bg-white            { background-color: @white; }
.bg-transparent      { background-color: transparent; }

.bg-dark-slate-grey-fade-70 { background-color: fade(@dark-slate-grey, 70%); }
.bg-white-fade-70 { background-color: fade(@white, 70%); }
.bg-grey-fade-20 { background-color: fade(@grey, 20%); }
.bg-mid-grey-fade-40 { background-color: fade(@mid-grey, 40%); }

.tablet({
  .bg-near-white-t  { .bg-near-white; }
  .bg-transparent-t { .bg-transparent; }
  .bg-white-t { .bg-white; }
});

.mobile({
  .bg-transparent-m { .bg-transparent; }
  .bg-white-m { .bg-white; }
  .bg-light-silver-m { .bg-light-silver; }
  .bg-near-white-m { .bg-near-white; }
});

.mobile({
  .bg-moon-grey-m { .bg-moon-grey; }
});

.bg-alice-blue-darken-5        { background-color: darken(@alice-blue, 5%); }
.bg-black-fade-90              { background-color: fade(@black, 90%) };
.bg-light-sea-green-fade-20    { background-color: fade(@light-sea-green, 20%); }
.bg-light-sea-green-fade-40    { background-color: fade(@light-sea-green, 40%); }
.bg-light-sea-green-fade-50    { background-color: fade(@light-sea-green, 50%); }
.bg-royal-blue-fade-10         { background-color: fade(@royal-blue-2, 20%); }
.bg-royal-blue-fade-80         { background-color: fade(@royal-blue-2, 80%); }
.bg-white-fade-20              { background-color: fade(@white, 20%); }
.bg-white-fade-30              { background-color: fade(@white, 30%); }
.bg-white-fade-50              { background-color: fade(@white, 50%); }
.bg-white-fade-80              { background-color: fade(@white, 80%); }
.bg-midnight-blue-2-lighten-5  { background-color: lighten(@midnight-blue-2, 5%); }
.bg-midnight-blue-2-lighten-10 { background-color: lighten(@midnight-blue-2, 10%); }
.bg-steel-blue-lighten-10      { background-color: lighten(@steel-blue, 10%); }
.bg-steel-blue-lighten-25      { background-color: lighten(@steel-blue, 25%); }

.hover-bg-alice-blue:hover       { background-color: @alice-blue; }
.hover-bg-black:hover            { background-color: @black; }
.hover-bg-blue-grey:hover        { background-color: @blue-grey; }
.hover-bg-coral:hover            { background-color: @coral; }
.hover-bg-crimson:hover          { background-color: @crimson; }
.hover-bg-cyan:hover             { background-color: @cyan; }
.hover-bg-dark-green:hover       { background-color: @dark-green; }
.hover-bg-dark-grey:hover        { background-color: @dark-grey; }
.hover-bg-dark-slate-blue:hover  { background-color: @dark-slate-blue; }
.hover-bg-dark-slate-grey:hover  { background-color: @dark-slate-grey; }
.hover-bg-dim-grey:hover         { background-color: @dim-grey; }
.hover-bg-forest-green:hover     { background-color: @forest-green; }
.hover-bg-goldenrod:hover        { background-color: @goldenrod; }
.hover-bg-grey:hover             { background-color: @grey; }
.hover-bg-light-cyan:hover       { background-color: @light-cyan; }
.hover-bg-light-grey:hover       { background-color: @light-grey; }
.hover-bg-light-sea-green:hover  { background-color: @light-sea-green; }
.hover-bg-light-silver:hover     { background-color: @light-silver; }
.hover-bg-medium-sea-green:hover { background-color: @medium-sea-green; }
.hover-bg-mid-grey:hover         { background-color: @mid-grey; }
.hover-bg-midnight-blue-1:hover  { background-color: @midnight-blue-1; }
.hover-bg-midnight-blue-2:hover  { background-color: @midnight-blue-2; }
.hover-bg-moon-grey:hover        { background-color: @moon-grey; }
.hover-bg-navy:hover             { background-color: @navy; }
.hover-bg-near-black:hover       { background-color: @near-black; }
.hover-bg-near-white:hover       { background-color: @near-white; }
.hover-bg-peru:hover             { background-color: @peru; }
.hover-bg-pink:hover             { background-color: @pink; }
.hover-bg-royal-blue-1:hover     { background-color: @royal-blue-1; }
.hover-bg-royal-blue-2:hover     { background-color: @royal-blue-2; }
.hover-bg-royal-blue-3:hover     { background-color: @royal-blue-3; }
.hover-bg-silver:hover           { background-color: @silver; }
.hover-bg-steel-blue:hover       { background-color: @steel-blue; }
.hover-bg-white:hover            { background-color: @white; }

.tablet({
  .bg-near-white-t  { .bg-near-white; }
  .bg-transparent-t { .bg-transparent; }
});
.mobile({
  .bg-near-white-m { .bg-near-white; }
});

.hover-bg-dark-slate-grey-lighten-5-saturate-15:hover { background-color: saturate(lighten(@dark-slate-grey, 5%), 15%); }
.hover-bg-light-sea-green-saturate-15:hover { background-color: saturate(@light-sea-green, 15%); }
.hover-bg-light-sea-green-fade-20:hover { .bg-light-sea-green-fade-20; }
.hover-bg-royal-blue-3-saturate-35:hover { background-color: saturate(@royal-blue-3, 35%); }
.hover-bg-white-fade-20:hover { .bg-white-fade-20; }
.hover-bg-coral-saturate-125:hover { background-color: saturate(@coral, 125%); }

/**
 * Background Image
 */
.gradient-blue-green-1       { .gradient(linear; @royal-blue-1, @light-sea-green; 90deg); }
.gradient-blue-green-2       { background-image: radial-gradient(circle at 50% 5%, @steel-blue, @light-sea-green); }
.gradient-white-near-white-1 { .gradient(linear; @white 50%, @near-white 50%; 90deg); }
.gradient-blue-white-1       { .gradient(linear; fade(@white, 0%), @midnight-blue-2; 180deg) }
.gradient-near-white-powder-blue { .gradient(linear; @near-white, @powder-blue; 180deg); }
.gradient-near-white-light-blue { .gradient(linear; @near-white, @light-blue; 180deg); }
.bg-image-none               { background-image: none; }

.tablet({
  .bg-image-none-t { .bg-image-none; }
});

/**
 * Background Size
 */
.bg-contain { background-size: contain; }
.bg-cover   { background-size: cover; }

/**
 * Background Position
 */
.bg-center   { background-position: center; }
.bg-x-center { background-position-x: center; }
.bg-y-center { background-position-y: center; }

/**
 * Background Repeat
 */
.bg-no-repeat { background-repeat: no-repeat; }

/**
 * Border Width
 */
.ba        { border-style: solid; border-width: 1px; }
.ba2       { border-style: solid; border-width: 2px; }
.bb        { border-bottom-style: solid; border-bottom-width: 1px; }
.bl        { border-left-style: solid; border-left-width: 1px; }
.bn        { border-style: none; border-width: 0; }
.bt        { border-top-style: solid; border-top-width: 1px; }
.br        { border-right-style: solid; border-right-width: 1px; }
.bb-medium { border-bottom-style: solid; border-bottom-width: 2px; }
.bb-thick  { border-bottom-style: solid; border-bottom-width: 4px; }
.bt-thick  { border-top-style: solid; border-top-width: 4px; }

.mobile({
  .bn-m { .bn; }
  .ba-m { .ba; }
});

.hover-bb-thick:hover           { .bb-thick; }
.hover-bt-thick:hover           { .bt-thick; }
.last-child-bn:last-child       { .bn; }
.last-of-type-bn:last-of-type   { .bn; }

.tablet({
  .bb-t { .bb; }
  .bn-t { .bn; }
  .bt-t { .bt; }
});

.desktop({
  .bt-d { .bt; }
});

/**
 * Border Style
 */
.b--dashed  { border-style: dashed; }
.b--dotted  { border-style: dotted; }
.b--none    { border-style: none; }
.b--solid   { border-style: solid; }
.bt--dashed { border-top-style: dashed; }
.bt--dotted { border-top-style: dotted; }
.bt--none   { border-top-style: none; }
.bt--solid  { border-top-style: solid; }
.br--dashed { border-right-style: dashed; }
.br--dotted { border-right-style: dotted; }
.br--none   { border-right-style: none; }
.br--solid  { border-right-style: solid; }
.bb--dashed { border-bottom-style: dashed; }
.bb--dotted { border-bottom-style: dotted; }
.bb--none   { border-bottom-style: none; }
.bb--solid  { border-bottom-style: solid; }
.bl--dashed { border-left-style: dashed; }
.bl--dotted { border-left-style: dotted; }
.bl--none   { border-left-style: none; }
.bl--solid  { border-left-style: solid; }

.hover-ba:hover { .ba;}
.hover-ba2:hover { .ba2; }

/**
 * Border Color
 */
.b--alice-blue       { border-color: @alice-blue; }
.b--black            { border-color: @black; }
.b--blue-grey        { border-color: @blue-grey; }
.b--coral            { border-color: @coral; }
.b--crimson          { border-color: @crimson; }
.b--cyan             { border-color: @cyan; }
.b--dark-green       { border-color: @dark-green; }
.b--dark-grey        { border-color: @dark-grey; }
.b--dark-slate-grey  { border-color: @dark-slate-grey; }
.b--dim-grey         { border-color: @dim-grey; }
.b--forest-green     { border-color: @forest-green; }
.b--goldenrod        { border-color: @goldenrod; }
.b--grey             { border-color: @grey; }
.b--light-cyan       { border-color: @light-cyan; }
.b--light-grey       { border-color: @light-grey; }
.b--light-sea-green  { border-color: @light-sea-green; }
.b--light-silver     { border-color: @light-silver; }
.b--medium-sea-green { border-color: @medium-sea-green; }
.b--mid-grey         { border-color: @mid-grey; }
.b--midnight-blue-1  { border-color: @midnight-blue-1; }
.b--midnight-blue-2  { border-color: @midnight-blue-2; }
.b--moon-grey        { border-color: @moon-grey; }
.b--navy             { border-color: @navy; }
.b--near-black       { border-color: @near-black; }
.b--near-white       { border-color: @near-white; }
.b--peru             { border-color: @peru; }
.b--pink             { border-color: @pink; }
.b--royal-blue-1     { border-color: @royal-blue-1; }
.b--royal-blue-2     { border-color: @royal-blue-2; }
.b--royal-blue-3     { border-color: @royal-blue-3; }
.b--silver           { border-color: @silver; }
.b--steel-blue       { border-color: @steel-blue; }
.b--white            { border-color: @white; }
.b--transparent      { border-color: transparent; }

.b--dark-grey-fade-50          { border-color: fade(@dark-grey, 50%); }
.b--light-silver-fade-60       { border-color: fade(@light-silver, 60%); }
.b--royal-blue-3-fade-20       { border-color: fade(@royal-blue-3, 20%); }
.b--midnight-blue-2-lighten-5  { border-color: lighten(@midnight-blue-2, 5%); }
.b--midnight-blue-2-lighten-10 { border-color: lighten(@midnight-blue-2, 10%); }

.focus-b--light-sea-green:focus { .b--light-sea-green; }

.bt--transparent { border-top-color: transparent; }

.tablet({
  .b--midnight-blue-2-t { .b--midnight-blue-2; }
});

/**
 * Border Radius
 */
.br0     { border-radius: 0; }
.br1     { border-radius: 0.125rem; }
.br2     { border-radius: 0.25rem; }
.br2-1   { border-radius: 0.3125rem; }
.br3     { border-radius: 0.5rem; }
.br4     { border-radius: 1rem; }
.br-50   { border-radius: 50%; }
.br-100  { border-radius: 100%; }
.br-pill { border-radius: 9999px; }

.br--bottom { border-top-left-radius: 0; border-top-right-radius: 0; }
.br--left   { border-top-right-radius: 0; border-bottom-right-radius: 0; }
.br--right  { border-top-left-radius: 0; border-bottom-left-radius: 0; }
.br--top    { border-bottom-left-radius: 0; border-bottom-right-radius: 0; }

.tablet({
  .br3-t { .br3; }
  .br-100-t { .br-100; }
});

.mobile({
  .br0-m { .br0; }
  .br1-m { .br1; }
  .br2-m { .br2; }
  .br3-m { .br3; }
  .br4-m { .br4; }
  .br-100-m { .br-100; }
  .br-pill-m { .br-pill; }
});

/**
 * Border Image
 */
.bi--gradient-green-blue-1 { .border-gradient(linear; @light-sea-green, @midnight-blue-1; 180deg); }

/**
 * Box Shadow
 * offset-x | offset-y | blur-radius | spread-radius | color
 * NOTE: This naming convention is too verbose so I'm open to better
 * suggestions!
 */
.shadow-1 (@color) { box-shadow: 0   0   50px 0   @color; }
.shadow-2 (@color) { box-shadow: 0   0   25px 0   @color; }
.shadow-3 (@color) { box-shadow: 0   2px 20px 0   @color; }
.shadow-4 (@color) { box-shadow: 0   5px  5px 0   @color; }
.shadow-5 (@color) { box-shadow: 0   1px  3px 0   @color; }
.shadow-6 (@color) { box-shadow: 0   0    8px 0   @color; }

.shadow-1-silver-fade-40          { .shadow-1(fade(@silver, 40%)); }
.shadow-1-light-sea-green-fade-30 { .shadow-1(fade(@light-sea-green, 30%)); }
.shadow-1-royal-blue-3-fade-20    { .shadow-1(fade(@royal-blue-3, 20%)); }
.shadow-1-royal-blue-3-fade-60    { .shadow-1(fade(@royal-blue-3, 60%)); }
.shadow-1-light-sea-green-fade-70 { .shadow-1(fade(@light-sea-green, 70%)); }
.shadow-2-royal-blue-3            { .shadow-2(@royal-blue-3); }
.shadow-6-royal-blue-3            { .shadow-6(@royal-blue-3); }
.shadow-3-black-fade-30           { .shadow-3(fade(@black, 30%)); }
.shadow-2-grey                    { .shadow-2(@grey; )}
.shadow-2-grey-fade-50            { .shadow-2(fade(@grey, 50%));  }
.shadow-3-black-fade-20           { .shadow-3(fade(@black, 20%)); }
.shadow-3-black-fade-10           { .shadow-3(fade(@black, 10%)); }
.shadow-3-royal-blue-3-fade-40    { .shadow-3(fade(@royal-blue-3, 40%)); }
.shadow-3-light-sea-green-fade-20 { .shadow-3(fade(@light-sea-green, 20%)); }
.shadow-4-black-fade-5            { .shadow-4(fade(@black, 5%)); }
.shadow-5-black-fade-10           { .shadow-5(fade(@black, 10%)); }
.shadow-5-black-fade-20           { .shadow-5(fade(@black, 20%)); }
.shadow-none                      { box-shadow: none; }



// omg this class name is horrendous
.focus-shadow-3-light-sea-green-fade-20:focus  { .shadow-3-light-sea-green-fade-20; }
.hover-shadow-2-royal-blue-3:hover             { .shadow-2-royal-blue-3; }
.hover-shadow-6-royal-blue-3:hover             { .shadow-6-royal-blue-3; }
.hover-shadow-3-black-fade-30:hover            { .shadow-3-black-fade-30; }
.hover-shadow-3-black-fade-10:hover            { .shadow-3-black-fade-10; }

.tablet({
  .shadow-3-black-fade-10-t { .shadow-3-black-fade-10; }
  .shadow-5-black-fade-20-t { .shadow-5-black-fade-20; }
  .shadow-none-t { .shadow-none; }
});

.mobile({
  .shadow-none-m { .shadow-none; }
  .shadow-3-black-fade-10-m { .shadow-3-black-fade-10; }
});

/**
 * Transform
 */
.x--50-y-50  { .transform(translateX(-50%) translateY(50%)); }
.x--50-y--50 { .transform(translateX(-50%) translateY(-50%)); }
.x-100       { .transform(translateX(100%)); }
.x--50       { .transform(translateX(-50%)); }
.x--100      { .transform(translateX(-100%)); }
.x-vw-100    { .transform(translateX(100vw)); }
.x0          { .transform(translateX(0)); }
.y-100       { .transform(translateY(100%)); }
.y--50       { .transform(translateY(-50%)); }
.y--s12      { .transform(translateY(-@spacing-12)); }
.y-vh--100   { .transform(translateY(-100vh)); }
.y0          { .transform(translateY(0)); }

.x-100_s4    { .transform(translateX(100%) translateX(@spacing-4)); }

.tablet({
  .x0-t { .x0; }
  .x--50-y--50-t { .x--50-y--50; }
  .x--50-t { .x--50; }
  .x--100-t { .x--100; }
});

.mobile({
  .x0-m { .x0; }
  .x--50-m { .x--50; }
  .x--50-y--50-m { .x--50-y--50; }
  .y--s12-m { .y--s12; }
});

/**
 * Resize
 */
.resize-both { resize: both;       }
.resize-h    { resize: horizontal; }
.resize-v    { resize: vertical;   }
.resize-none { resize: none;       }
