/*

  Typography
  ----------

  Utility classes for typography.

*/

/**
 * Font Size
 */
.fxxs  { font-size: 0.625rem; } // 10px
.fxs   { font-size: 0.75rem;  } // 12px
.fs    { font-size: 0.875rem; } // 14px
.fm    { font-size: 1rem;     } // 16px
.fl    { font-size: 1.125rem; } // 18px
.fxl   { font-size: 1.25rem;  } // 20px
.fxxl  { font-size: 1.375rem; } // 22px
.fxxxl { font-size: 1.5rem;   } // 24px
.f4xl  { font-size: 1.625rem; } // 26px
.f5xl  { font-size: 1.75rem;  } // 28px
.f6xl  { font-size: 2rem;     } // 32px
.f7xl  { font-size: 2.5rem;   }
.f8xl  { font-size: 3rem;     }

.f-graphic-92 { font-size: 5.75rem;     } // 92px
.f-graphic-64 { font-size: 4rem;     } // 64px
.f-graphic-50 { font-size: 3.125rem; } // 50px
.f-graphic-38 { font-size: 2.375rem; } // 38px
.f-graphic-32 { font-size: 2rem;     } // 32px

.tablet({
  .fxs-t { .fxs; }
  .fs-t { .fs; }
  .fm-t  { .fm; }
  .fl-t { .fl; }
  .fxl-t { .fxl; }
  .f-graphic-32-t { .f-graphic-32; }
});

.mobile({
  .fxxs-m { .fxxs; }
  .fxs-m { .fxs; }
  .fs-m { .fs; }
  .fm-m { .fm; }
  .fl-m { .fl; }
  .fs-m { .fs; }
  .fm-m { .fm; }
  .f-graphic-32-m { .f-graphic-32; }
  .fxxl-m { .fxxl; }
});

/**
 * Letter Spacing
 */
.untracked     { letter-spacing: normal;  }
.tracked       { letter-spacing: 0.1em;   }
.tracked-tight { letter-spacing: -0.05em; }
.tracked-mega  { letter-spacing: 0.25em;  }

/**
 * Font Weight
 */
.normal   { font-weight: normal; }
.b        { font-weight: bold;   }
.lighter  {font-weight: lighter;}
.fw2      { font-weight: 200;    }
.fw3      { font-weight: 300;    }
.fw4      { font-weight: 400;    }
.fw5      { font-weight: 500;    }
.fw6      { font-weight: 600;    }
.fw7      { font-weight: 700;    }
.fw8      { font-weight: 800;    }

.tablet({
  .b-t   { .b; }
  .fw6-t { .fw6; }
});

.mobile({
  .fw5-m { .fw5; }
  .fw6-m { .fw6; }
});

/**
 * Font Style
 */
.i         { font-style: italic; }
.fs-normal { font-style: normal; }

/**
 * Line Height
 */
.lh-solid        { line-height: 1;    }
.lh-title        { line-height: 1.25; }
.lh-copy         { line-height: 1.5;  }
.lh-copy--spaced { line-height: 2; }

.tablet({
  .lh-solid-t { .lh-solid; }
  .lh-copy-t    { .lh-copy;  }
});

.mobile({
  .lh-solid-m { .lh-solid; }
  .lh-title-m { .lh-title; }
  .lh-copy-m { .lh-copy; }
});

/**
 * Text Align
 */
.tc { text-align: center;  }
.tr { text-align: right;   }
.tl { text-align: left;    }
.tj { text-align: justify; }

.tablet({
  .tc-t { .tc; }
  .tl-t { .tl; }
  .tr-t { .tr; }
});

.mobile({
  .tc-m { .tc; }
  .tl-m { .tl; }
});

.mui-sm({
  .tc-sm { .tc; }
});
/**
 * Text Decoration
 */
.no-underline  { text-decoration: none;         }
.underline     { text-decoration: underline;    }
.strikethrough { text-decoration: line-through; }

.hover-underline:hover { .underline; }
.hover-parent:hover .hover-parent-underline { .underline; }

.mobile({
  .underline-m { .underline; }
});


/**
 * White Space
 */
.ws-normal { white-space: normal; }
.nowrap    { white-space: nowrap; }
.pre       { white-space: pre;    }

/**
 * Text Overflow
 */
.truncate { text-overflow: ellipsis; }

/**
 * Text Transform
 */
.ttc { text-transform: capitalize; }
.ttl { text-transform: lowercase; }
.ttn { text-transform: none; }
.ttu { text-transform: uppercase; }

/**
 * Word Break
 */
.wb-normal { word-break: normal}
.wb-all    { word-break: break-all; }
.wb-keep   { word-break: keep-all; }
