/*

  Animation
  ---------

*/

.spin {
  animation: spin 2s linear infinite;
}

.spin-svg svg {
  .spin;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
