/*

  Base
  ----

  This file contains the site's base styles.
  It also contains styling for markup that's generated server side as it's too
  convoluted to add classes directly to it.

*/

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  min-width: 320px;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: greyscale;
  font-family: @font-default;
  line-height: 1.5;
  font-size: 16px;
  color: @dark-grey;
  -webkit-overflow-scrolling: touch;
}

#app {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.layout-wrapper {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.layout-width-constraint {
  padding-left: @LAYOUT_PADDING;
  padding-right: @LAYOUT_PADDING;
  .pv0;
  .mv0;
  .max-w-layout;
  .mhauto;
}

.layout-width-constraint-extra-wide {
  .layout-width-constraint;
  max-width: 1300px;
}

.desktop({
  .layout-width-constraint-d { .layout-width-constraint; }
});

.svg-base {
  display: inline-block;
  line-height: 1;
  width: 1rem;
  height: 1rem;
  svg {
    fill: currentColor;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    g {
      stroke: currentColor;
    }
    path {
      fill: inherit;
    }
  }
}

.icon-base {
  position: relative;
  height: auto;
  svg {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
}

.icon-base:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

button {
  border: none;
  outline: none;
}

p, td {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

ol {
  list-style-type: upper-alpha;
  ol {
    list-style-type: lower-roman;
  }
}

a {
  color: @royal-blue-2;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
}

table {
  .collapse;
}

table tr {
  .light-sea-green-darken-20;
  .pv0;
  .ph6;
  &:nth-child(odd) {
    .bg-light-sea-green-fade-20;
  }
  th,
  &:first-child td {
    .bg-light-sea-green-fade-50;
    .fw7;
  }
}

table tr th,
table tr td {
  .pv5;
  .ph8;
  &:first-child {
    .pl9;
  }
  &:last-child {
    .pr9;
  }
}

.fc-glossary {
  .bb;
  .bb--dashed;
  .b--dark-grey-fade-50;
  .pointer;
}

.fc-answer {
  > * {
    max-width: @measure-6;
  }
  p {
    .mt0;
    .mb6;
    .fm;
    .lh-copy;

    .mobile({
      .lh-copy;
    });
    &:last-child {
      .mb0;
    }
  }
  li p {
    .mb0;
  }
  ol {
    .mb6;
  }
}

.topic-overview-copy {
  p {
    .mt0;
    .mb6;
    .fm;
    .lh-copy;
    .mobile({
      .lh-copy;
    });
    &:last-child {
      .mb0;
    }
  }
  li p {
    .mb0;
  }
  ol {
    .mb6;
  }
  a {
    .royal-blue-3;
  }
  .fc-glossary {
    .b--light-silver-fade-60;
  }
}

.search-result mark {
  .bg-transparent;
  .coral;
  .o-80;
}

span {
  &.wj {
    font-size: 0 !important;
  }
  &.fc-em {
    font-style: italic;
  }
}
