/*

  Custom
  ------

  Add any styling that can't be constructed from the generic styles to this
  file. Include a comment explaining what the styling does.

  This file should be used as a last resort.

*/

// Classes can't be set directly on the paragraphs inside PopoverItem as they
// come from the server and are inserted with dangerouslySetInnerHTML.
.popover__item {
  p { .ma0; .lh-copy; }
  p + p { .mh0; .mb0; .mt6; }
}

// The arrow on top of PopoverItem needs very specific border widths. It has to
// multiply with 16px without any remainders because otherwise pixel rounding
// leads to visible gaps. 16 * .375 = 6.
.popover__arrow { .arrow(0.75rem; 0.375rem; @dark-grey; 0); }
.popover__arrow--light { .arrow(0.75rem; 0.375rem; @white; 0); }

// The staggered tile effect on the Guidance home page needs specific child
// selectors and negative margin values.
.desktop({
  .tiled-menu-staggered-tile-d {
    &:nth-child(2n + 1),
    &:nth-child(2n + 3),
    &:nth-child(2n + 5) {
      transform: translateY(-@spacing-7);
    }
  }
});

// The special states on the Stripe input fields don't override the base styles
// properly so have to provide more specific classes instead.
.form__stripe-card-input--focus,
.form__stripe-card-input--completed {
  .b--light-sea-green;
  .light-sea-green;
}
.form__stripe-card-input--error {
  .b--crimson;
  .dark-grey;
}

// The chevron on the dropdowns is created using a pseudo element.
.dropdown-chevron:after {
  content: '';
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid currentColor;
  .absolute;
  .w0;
  .h0;
  .right6;
  .center-v;
}

// The hover state on the "Choose Plan" label on the plan option tiles is
// activated by hovering over its parent element.
.not-selected-plan-option:hover > .plan-option-label {
  .bg-royal-blue-3;
  .white;
  .shadow-2-royal-blue-3;
  .o-100;
}

// The features menu on the logged out header needs this exact value for top.
.features-menu { top: 2.5rem; }

// The width of the accordion overlay has to take the width of the scrollbar
// into account.
.accordion-overlay-width {
  width: calc(100% - 15px);
}

@-moz-document url-prefix() {
  .accordion-overlay-width {
    width: calc(100% - 12px);
  }
}

// The blob shapes on either side of the document overview box have to be
// exactly sized to reflect the designs.
.document-overview-blob-left-width  { width: 3rem; }
.document-overview-blob-right-width { width: 5.625rem; }

// The search bar has to be this specific width.
.search-bar-basis {
  .transition-all;
  @media screen and (min-width: 769px) and (max-width: 1100px) {
    flex-basis: 7rem;
    flex-grow: 1.25;
  }
  @media screen and (min-width: 1024px) and (max-width: @LAYOUT_MAX_WIDTH) {
    flex-basis: 20rem;
    flex-grow: 0.35;
  }
  @media screen and (min-width: @LAYOUT_MAX_WIDTH) {
    flex-basis: 30rem;
  }
}

// The plan option boxes have to be this specific width.
.plan-option-basis { flex-basis: 13rem; }

// The on position for the switch pill has to be calculated using the left
// property rather than right so that the slide effect works.
.switch-on-pill-left { left: calc(100% - (@spacing-2 + @icon-width-3)); }

// The search results filters are positioned absolutely so they remain sticky
// on scroll. The search results and the category filters therefore have a
// large margin left set on them so that they appear next to the filters.
.search-results-filters-width {
  width: @search-results-filters-width;
  .tablet({
    width: 100%;
  });
}
.search-results-category-filters-ml {
  margin-left: @search-results-filters-width - @spacing-6;
  .tablet({
    margin-left: 0;
  });
}

// Always find this really annoying... The sidebar content has to be within the
// layout constraint but its background colour is supposed to be full-bleed.
// Hacked by making the background colour of parent element a linear gradient
// with colour stops in the right place.
.bg-search-main {
  @search-bg-blue-width-lg: calc(50% - @LAYOUT_MAX_WIDTH / 2 + @LAYOUT_PADDING + @search-results-filters-width);
  @search-bg-blue-width-sm: calc(@LAYOUT_PADDING + @search-results-filters-width);
  background: linear-gradient(to right, @alice-blue @search-bg-blue-width-lg, @white @search-bg-blue-width-lg);
  .responsive(@LAYOUT_MAX_WIDTH + @LAYOUT_PADDING * 2, {
    background: linear-gradient(to right, @alice-blue @search-bg-blue-width-sm, @white @search-bg-blue-width-sm);
  });
  .tablet({
    background: white;
  });
}

.search-result:hover .search-result-title {
  text-decoration: underline;
}

// The top arrow on the features menu is created using a pseudo element and the
// arrow mixin.
.features-menu-top-arrow:before {
  content: '';
  .arrow(1rem; 0.5rem; @white; 1rem);
}

// The line that runs behind the document step icons on the document overview
// page is created with a background gradient with hard color stops.
.document-overview-steps-line-not-static {
  .gradient(linear; transparent 12.75rem, @cyan 12.75rem, transparent calc(12.75rem + 1px); 0deg);
}
.document-overview-steps-line-static {
  .gradient(linear; transparent 9.75rem, @cyan 9.75rem, transparent calc(9.75rem + 1px); 0deg);
}

// The background glow effect on the document overview icons.
.document-step-image-filter {
  filter: drop-shadow(0 0 0.6rem fade(@light-sea-green, 60%));
}

// The recommended star on the plan options has to be dragged slightly upwards
// so that it's in line with the text.
.recommended-star-translate { .transform(translateY(-10%)); }

// A pseudo element is used to gradually fade out the text on the document
// overview page when the text is too long.
.document-overview-overlay:after {
  content: '';
  .absolute;
  .top0;
  .left0;
  .w-100;
  .h-100;
  .z5;
  .gradient(linear; @alice-blue, transparent 50%);
}

// The "slant" (it's actually a box that the clipped parallax image overlaps) is
// created using a pseudo element.

// Slant for intro-tiles
.landing-tile-slant {
  background: linear-gradient(4deg, @dark-slate-grey 49.5%, transparent 50%);
}

.landing-about-us-top-slant:before {
  content: '';
  transform: translateY(-98%);
  height: @landing-page-slant-height + 1rem; // And add a little extra height to compensate.
  .top0;
  .absolute;
  .vw-100;
  .bg-dark-slate-grey;
  .z5;
}

// The slants use pseudo elements.
.light-moon-grey-slant:before,
.near-white-slant:before,
.topic-search-slant:before,
.document-overview-marketing-slant:before,
.document-overview-supplementary-slant:before,
.related-bundles-slant:before {
 content: '';
  transform: translateY(-98%);
  border-right: 100vw solid transparent;
  border-bottom: @landing-page-slant-height solid;
  .h0;
  .w0;
  .top0;
  .left0;
  .absolute;
  .tablet({
    border-bottom: @landing-page-slant-height-mobile solid;
  })
}

.topic-search-slant:before { border-bottom-color: @dark-slate-grey; }

.near-white-slant:before { border-bottom-color: @near-white; }

.light-moon-grey-slant:before { border-bottom-color: @light-moon-grey }

.related-bundles-slant:before { border-bottom-color: @light-silver; }

.document-overview-marketing-slant:before { border-bottom-color: @alice-blue; }
.document-overview-supplementary-slant:before { border-bottom-color: @near-white; }

.carousel__dot--selected {
  background-color: @dark-slate-grey !important;
}

.landing-subscription-option-card {
  box-shadow: -5px 5px 60px 0 rgba(0, 137, 215, 0.3);
}

.topic-overview-slant {
  padding-bottom: @landing-page-slant-height;
  &:after {
    content: '';
    .bottom0;
    .left0;
    .absolute;
    .w0;
    .h0;
    .b--solid;
    border-width: 0 100vw @landing-page-slant-height 0;
    border-color: transparent transparent @white transparent;
    .mobile({
      display: none;
    })
  }
}


.topic-tiles-slant:after {
  content: '';
  border-right: 100vw solid transparent;
  border-bottom: @landing-page-slant-height solid;
  .h0;
  .w0;
  .bottom0;
  .left0;
  .absolute;
  border-bottom-color: @near-white;
  .tablet({
    border-bottom: @landing-page-slant-height-mobile solid @near-white;
  })
}

// The account menu can't be a child of the header content element because the
// z indexing causes problems so its top and right positions have to be
// calculated manually.
.account-menu {
  top: @nav-height-desktop;
  right: calc(((100vw - @LAYOUT_MAX_WIDTH) / 2) + @LAYOUT_PADDING);
  min-width: 11.25rem;
  .responsive(@LAYOUT_MAX_WIDTH, { right: @LAYOUT_PADDING; });
}

// Carousel library styling to make it look better.
.carousel__dot--selected {
  .bg-royal-blue-3;
}
.focusRing {
  outline: none;
}
.carousel__slider {
  width: 280px;
  .maauto;
}

// Hide disabled back/next buttons on carousel.
.carousel__next-button:disabled,
.carousel__back-button:disabled {
  display: none;
}

// On the mobile search bar the input text should line up with the word 'SPARQA'
// in the header logo.
.search-bar-pl { .tablet({ padding-left: 3.5rem; }); }

// The cost circle that appears on some forms has to be dragged slightly upwards
// so that the text inside it appears in line with the form title. The text
// inside the cost circle has to be positioned exactly so that it all fits.
.cost-circle {
  .transform(translateY(-0.7rem));
  > span {
    top: calc(50% - 3px);
    left: 50%;
    .transform(translate(-50%, -50%));
  }
  sup {
    top: 0.625rem;
    left: -0.4rem;
  }
  sub {
    right: 0.625rem;
    bottom: 1.5rem;
  }
}

.search-facets-height {
  .desktop({
    max-height: calc(100vh - (@nav-height-desktop + @search-subnav-height-desktop + 11rem));
  });
}

// The height and width of the document interview page needs custom values.
.layout-documentinterview {
  min-height: calc(100vh - 10em);
}
.layout-documentinterview__width-constraint {
  max-width: @LAYOUT_MAX_WIDTH - 50px;
  width: 96%;
}

// Mobile view search facets to be more space efficient
.left--15vw {
  left: -15vw;
}
.right--15vw {
  right: -15vw;
}

// Custom styles landing page
.landing-tiles {
  .br2-1;
  min-height: 18rem;
  width: 19%;
  .tablet({
    min-height: 20rem;
    width: 48%
  });
  .mobile({
    min-height: 10em;
    .justify-evenly;
  });
}

.landing-tile-title {
  line-height: 1.33;
  letter-spacing: 0.6px;
}

.landing-block-subtitle {
  line-height: 1.33;
}

.landing-block-text {
  line-height: 1.31;
}

.landing-heading-buttons {
  @media only screen and (max-width: 880px){
    font-size: 0.8rem !important;
  }
  @media only screen and (max-width: @DESKTOP_MIN_WIDTH){
    opacity: 0;
    visibility: hidden;
  }
}

.landing-tile-title {
  @media only screen and (max-width: @PAGE_MAX_WIDTH) and (min-width: @DESKTOP_MIN_WIDTH){
    font-size: 1.2rem !important;
  }
}

.landing-headings {
  letter-spacing: 1px
}

.testimonial-border {
  background: linear-gradient(88deg, #314bc7, #13c1c4);
}

.testimonial-border-alt {
  background: linear-gradient(90deg, #13c1c4, #314bc7);
}

.testimonial-image {
  .w-100;
  .h-100;
  .br-50;
  background-position: center;
  background-size: contain;
}

.testimonial-body {
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  min-height: 17rem;
  .mobile({
    min-height: 20.7rem;
    margin-top: 6.2rem;
  });
}

.testimonial-name {
  font-weight: bold;
}

@media only screen and (max-width: @LAYOUT_MAX_WIDTH) and (min-width: @DESKTOP_MIN_WIDTH){
  .testimonial-text {
    margin-bottom: 0;
    font-size: 1.2rem !important;
  }
}
@media only screen and (max-width: @TABLET_MAX_WIDTH) and (min-width: @TABLET_MIN_WIDTH){
  .testimonial-text {
    margin-bottom: 0;
    font-size: 1.0rem !important;
  }
}
@media only screen and (max-width: @MOBILE_MAX_WIDTH) {
  .testimonial-name {
    font-size: 1rem !important;
    font-weight: bold;
  }
}

.pricing-card-width {
  width: 17.75rem;
}

.pricey-planny {
  .h0;
  .w0;
  .absolute;
  .bottom0;
  top: 8.5rem;
  border-right: 17.45rem solid @royal-blue-2;
  border-bottom: 3.125rem solid transparent;
  &:before {
    content: "";
    position: absolute;
    .bg-royal-blue-2;
    height: 0.7rem;
    width: 0.7rem;
  }
  &:after {
    content: "";
    position: absolute;
    height: 1rem;
    width: 0.75rem;
    border-top-left-radius: 0% 100%;
    border-top-right-radius: 100% 29%;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 100% 71%;
    background-color: #24619a;
    top: 0.4rem;
    left: 0;
    transform: scaleX(-1);
  }
  .tablet({
    display: none
  })
}

.price-triangle {
  width: 270px;
  margin: auto;
  .tablet({
    width: 267px;
  });
}

.ribbon-container {
  width:110%;
  height: 45%;
  top: -0.125rem;
  left: -0.75rem;
  &:before {
    content: "";
    position: absolute;
    .bg-royal-blue-2;
    width: 0.6rem;
    height: 0.8rem;
    top: 11rem;
    .right0;
    .bottom0;
  }
  &:after {
    content: "";
    position: absolute;
    background-color: #24619a;
    height: 1rem;
    width: 0.82rem;
    .right0;
    .bottom0;
    top: 11.575rem;
    border-top-left-radius: 0% 100%;
    border-top-right-radius: 100% 29%;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 100% 71%;
  }
  .tablet({
    height: 58%;
    &:before {
      display: none;
    }
    &::after {
      display: none;
    }
  })
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .pricey-planny {
    display: none;
  }
  .ribbon-container {
    width: 100%;
    right: 0;
    left: 0;
    top: 0;
    background-color: @white;
    h3 {
      margin-top: 2rem;
      color: @royal-blue-2;
    }
    &:before,
    &:after {
      content: none;
      display: none;
    }
  }
}

// Hover effect for landing page nav links.
.hover-slide-underline {
  .relative;
  &:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 0px;
    height: 2px;
    margin: 2px 0 0;
    .transition-all;
    transition-duration: 0.5s;
    .o-0;
    .bg-cyan;
  }
  &:hover {
    .hover-slide-stick;
  }
}
.hover-slide-stick {
  &:after {
    width: 100%;
    .o-100;
  }
}

// Underline effect for nav bar links
.feature-link {
  .relative;
  .dark-slate-blue;
  &:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    height: 2px;
    margin: 2px 0 0;
    .w-100;
    .o-100;
    .bg-cyan;
  }
}

// Hover effect for landing page buttons.
.hover-fill-white-location-aware {
  transition: color 0.4s;
  span {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-radius: 100%;
    transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
    transform: translate(-50%, -50%);
    background-color: @white;
    pointer-events: none;
    z-index: -1;
  }
  &:hover {
    span {
      width: 20rem;
      height: 20rem;
    }
  }
}

// hr tag on documents page
.document-collection-divider {
  height: 1px;
  width: @LAYOUT_MAX_WIDTH - (2 * @LAYOUT_PADDING);
}

// to have the tiles overlap the slant
.negative-margin-guidance {
  margin-top: -16rem;
}
// .negative-margin-guidance {
//   @media screen and (max-width: 1024px) {
//     margin-top: -@measure-0;
//   }
//   @media screen and (min-width: 1025px) {
//     margin-top: -@measure-1
//   }
// }

.forced-register-modal-container {
  .pte-box-shadow;
  overflow-y: auto;
  @media only screen and (max-width: 800px){
  }
}

.forced-register-input-container {
  font-size: 1.8rem;
  border-radius: 5px 0 0 5px;
  .bg-white;
  .relative;
  @media only screen and (max-width: 800px){
    border-radius: 5px 5px 0 0;
    font-size: 1.5rem;
  }
}

.forced-register-info-container {
  font-size: 1.2rem;
  line-height: 1.5rem;
  border-radius: 0 5px 5px 0;
  .bg-light-sea-green;
  .white;
  .relative;
  @media only screen and (max-width: 900px){
    font-size: 1rem;
  }
  @media only screen and (max-width: 800px){
    font-size: 1.2rem;
    border-radius: 0 0 5px 5px;
  }
}

.forced-register-modal-title {
  .tablet({
    .fxxxl;
  });
  .mobile({
    .fl;
    .mv3;
  });
}

.forced-register-modal-input {
  @media only screen and (max-width: 800px){
    .mb10;
  }
  .mobile({
    .mh5;
  })
}

// Can't access child elements of RichText component directly.
.cms-rich-text {
  h1 {
    .mt9;
  }
}

.delete-document-width {
  width: 26rem;
}

.saved-document-list {
  &:last-child {
    margin-bottom: 4rem;
  }
}

.saved-docs-ordering div> {
  @media screen and (min-width: 1201px) {
    font-size: 16px;
  }

  @media screen and (max-width: 1199px) {
    font-size: 14px;
  }
}

.saved-docs-name {
  @media screen and (min-width: 769px) {
    margin-left: 2.25rem;
  }

  @media screen and (max-width: 328px) {
    padding-right: 1rem;
  }
}

// If you're using a Modal thats a child of a response consumer
// use this if it doesn't take up the full width
.left-right--100 {
  left: -100%;
  right: -100%;
}

// Have to style some paragraph tags sent from the CMS.
.partner-banner-text p {
  .mv0;
}
.partner-banner-truncated .partner-banner-text p {
  .dn;
}
.partner-banner-truncated .partner-banner-text p:first-of-type {
  .db;
  .nowrap;
  .truncate;
  .lh-solid;
  .overflow-hidden;
}

// From skins/pte file
.sticky-scrolling-container {
  height: calc(100vh - @nav-height-desktop - @footer-margin-desktop - @spacing-10);
}

.pte-box-shadow {
  -webkit-box-shadow: 0 0 12px 1px rgba(0,0,0,0.5);
  -moz-box-shadow: 0 0 12px 1px rgba(0,0,0,0.5);
  box-shadow: 0 0 12px 1px rgba(0,0,0,0.5);
}
.pill-box-shadow {
  .pte-box-shadow;
}

.free-trial-screen {
  .pill-box-shadow;
  .w-measure-3;
  .tablet({
    .w-measure-2;
  });
  .mobile({
    width: 20rem;
  });
  .xs-mobile({
    width: 18rem;
  });
}

.email-address-input {
  .fm;
}

.landing-button {
  .mobile({
    font-size: 0.6rem;
  });
  font-size: 0.875rem;
  text-align: center;
  .fw7
}

.bbox {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.free-trial-button {
  .landing-button;
  border: 2px solid @dark-slate-grey;
}

.header-static-links {
  .transition-all;
  @media screen and (min-width: 769px) and (max-width: 1070px) {
    display: none;
  }
}

// Style needed for CMS FullWidthLeftRightText CMS component
// as couldn't use the layout-width-constraint class
.full-width-left-right-text {
  @media screen and (min-width: @DESKTOP_MIN_WIDTH ) {
    max-width: 600px;
  }
  padding: 0 20px;
  flex-basis: 100%;
}

// v5 of react-collapse requires you to specify your own transition.
.ReactCollapse--collapse {
  transition: height 500ms;
}

.contact-background-wave{
  .desktop({
    background-repeat: no-repeat;
    background-position: right top;
    background-size: auto 100%;
    // background-image: url('../assets/wave.svg');
    background-position: right 6rem;
    background-size: auto 120%;
  });
}

.document-qa {
  .ph6;
  .pb6;
  p {
    .mt0;
    .mb6;
    .fm;
    .lh-copy;

    .mobile({
      .lh-copy;
    });
    &:last-child {
      .mb0;
    }
  }

  & > ol, & > ul {
    &:not(:last-child) {
      .mb6;
    }
  }
}

.document-blob {
  // background-image: url('../assets/document-blob.svg');
  background-repeat: no-repeat;
  height: 100%;
  background-size: 100%;
  min-height: 26rem;
}

.landscape-document-image {
  margin-top: 3.5rem
}

.document-image-carousel {
  .relative;
  max-width: 36rem;
}

.document-image-carousel-arrow {
  transform: translateY(-12px);
}

.document-image-spacing {
  margin-top: -2rem;
  .pt8;
  .pb9;
}

// Needed to have the image as a background so I could easily mask it, and also the mask
.about-em-street {
  background-image: url('/assets/emerald-st.jpg');
  .mask {
    background-color: rgba(35, 42, 58, 0.77);
  }
}

.topics-menu-background {
  background-repeat: no-repeat;
  background-position: center;
  .topic-bg-color;
}

.topic-bg-color {
  .bg-steel-blue;
}

.topic-overview-background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}

.related-bundles {
  width: 48%;
  .tablet({
    width: 100%;
  })
}

.product-overview-spacing {
  & > section:last-child {
    .pb12;
    .tablet({
      .pb10;
    });
  }
}

.icon-fill-black {
  svg {
    fill: black
  }
}

.search-box .MuiButton-root {
  .br0;
  min-width: initial;
}

.MuiListItemIcon-root {
  .min-w-icon-8;
}

.account-icon-btn .MuiButton-root {
  .br0;
  min-width: initial;
}

.plans-container {
  max-width: 68rem;
}

.plan-option-width {
  width: @PRICE_PANEL_WIDTH;
}

.landing-testimonial-slide {
  height: 210px;

  .tablet({
    height: 280px;
  });

  .mobile({
    height: 320px;
  });
}

.landing-featured-product-slide {
  @media screen and (min-width: 400px) and (max-width: 620px) {
    .ph8;
  }
  @media screen and (min-width: 860px) and (max-width: 1020px) {
    .ph6;
  }
}

.landing-featured-product-controls {
  @media screen and (max-width: 520px) {
    .dn;
  }
}
