@import 'config/fonts';
@import 'config/variables';

html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  font: 14px 'Nunito', sans-serif; color: @black;
}

/*
	Theme: HDSUser
	Details: This is the default theme for HotDocs browser-based interviews.
*/

/** This class is added to all top-level interview nodes. This includes #hdMainDiv, which hosts the interview,
	as well as DIVs that display popup interviews or popup resources. Any styles that should be applied to the
	interview on a global basis go here. **/
div.hd-interview-base { font: 12px 'Nunito', sans-serif; color: @black; }

/** Wrappers: These are the top level DOM elements, beginning with hdMainDiv, which is the root interview container. **/
#hdMainDiv { }
#hdWrapper { }
#hdHost { }
#InterviewEngine { }
#hdBodyDiv { }

/** ServerResponse: "Modal" widget displayed on top of interview when user clicks document preview, save answers, answer summary, help, etc. **/
#hdServerResponse, #hdModalResponse { background-color: @light-grey; }
div.hd-response-title { font-size:125%; font-weight: bold; }
div.hd-response-header { }
div.hd-response-footer { }
div.hd-response-btns { font-weight: normal; }
button.hd-response-print { }
button.hd-response-return { }

/** Shader: Displayed on top of the interview during initial loading or answer submission at end of interview. **/
#hdShader { background-color: @black; opacity: 0.4; filter: alpha(opacity=40); }

/** Loader Progress Bar: Displayed as each script and supporting file is loaded before the interview starts. **/
#hdLoaderBar * { font-size: 110%; }
div.hd-loader-progbar-mtr { border: 1px solid @midnight-blue-1; background: @white; }
div.hd-loader-progbar-pct { padding: 3px; }
div.hd-loader-progbar-bar { padding: 3px; background: @silver; background-image: linear-gradient(to right, @steel-blue 20%, @silver 80%); }
span.hd-loader-progbar-msg { color: @white; }

/** Error Box: Displays critical error messages during loading or runtime. **/
#hdErrorDiv * { font-size: 110%; }
div.hd-error-32 { }
div.hd-error-msg { font-weight: bold; color: @white; }

/** HD3DObject: Class applied to navigation bar, server response footer, and interview splitters to give them a 3D look. **/
.HD3DObject {
  background-color: inherit;
  border-color: inherit;
  border-style: inherit;
}

/** Interview Toolbar: Displays template title and buttons for performing various tasks during the interview. */
#hdHeading { }
div.hd-titlebar { background-color: @pink; padding:3px; }
div.hd-titlebar-title { color: @white; font-size: 130%; font-weight: bold; }
div.hd-titlebar-icon { }
div.hd-titlebar-buttons { }
div.hdtb-icon { background-color: @white; text-decoration: none; color: @midnight-blue-1; font-weight: bold; border: 1px solid @black; border-radius: 4px; }
div.hdtb-hot { background-color: lighten(@royal-blue-1, 40%); }
div.hdtb-text {  }

/** Navigation Bar: A set of buttons displayed below the interview to allow navigation from one dialog to the next. **/
#hdNavBar { border-width: 1px; border-left-width: 0; margin-left: -1px; height:38px;}
div.hd-nav-table { }
div.hd-nav-left { }
div.hd-nav-middle { }
div.hd-nav-right { }

/** Progress Bar: Displayed below the navigation bar to indicate how many questions have been answered in the interview. **/
div.hd-progress { background-color: @white; }
div.hd-progress-normal { background-color: @royal-blue-1; }
div.hd-progress-required { background-color: @crimson; }
div.hd-progress-complete { background-color: @light-sea-green; }

/** Interview Outline: List of dialogs (in the form of a tree) shown on the left side of the interview. **/
#hdOutlineDiv { background-color: @white; }
#hdOutlineContent { background-color: @white; }
#hdOutlineCurrent { background-color: @light-silver; }
.hd-ol-caption-text { }
.hd-ol-entry { line-height: 1.67em; color: @pink; }
.hd-ol-entry:hover { background-color: @alice-blue; }
.hd-ol-entry-d { color: lighten(@dark-slate-grey, 15%); }

/** Resource Pane: Displayed below the dialog to provide additional information about the dialog or individual questions. **/
.hd-popup { background-color:@white; border:1px solid @black; border-radius: 5px; padding:0; }
#hdResourcePane, .hd-popup-resource { background-color: @light-grey; }
.hd-popup .ui-dialog-title {
  font-weight: bold;
  color: transparent;
  margin-left: 2.5em;

  &:before {
    content: 'Note';
    color: @black;
  }
}
.hd-popup .ui-dialog-titlebar { background-image:none; background-color: @light-silver; font-weight: bold; cursor:default; }

/** Answer Summary: A list of questions and answers from the interview that is shown by clicking the Answer Summary toolbar button.  **/
td.HDASDlgTitle { font-weight: bold; }
td.HDASVarPrompt { color: @near-black; font-style: normal; }
td.HDASDlgElem { color: @near-black; font-style: italic; }
td.HDASAnsValue { padding-bottom: 4px; }

/** Interview Help: Displayed when the user clicks the Help button on the interview toolbar. **/
div.hd-help { }
table.hd-help-table { background-color: @light-silver; border-collapse: collapse; }
table.hd-help-table td, .hd-help-table th { border: 1px solid @white; padding: 5px; }
table.hd-help-table th { text-align: left; }
ul.hd-help-ul { }
th.hd-help-col-one { width: 30%; }

/** Shortcut Menu: Displayed when you click the button on the right side of the dialog title bar. **/
div.hd-menu { border-radius: 5px; background-color: Menu; border: 1px solid gray; box-shadow: 2px 2px 4px gray; }
div.hd-menu-base { font-size: 8pt; background-color: Menu; color: MenuText; padding: 0; margin-bottom: 0; margin-top: 0; cursor: default; }
div.hd-menu-disabled { color: GrayText; }
div.hd-menu-hilite { border-color: lighten(@royal-blue-3, 20%); background-color: fade(@light-cyan, 50%); border-radius: 3px; }
div.hd-menu-iconbkgrd {
  border-right: 1px solid @silver;
  background: @near-white; /* Old browsers */
  background: -moz-linear-gradient(left, @near-white 0, @light-grey 100%, lighten(@royal-blue-3, 20%) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0,@near-white), color-stop(100%,@light-grey), color-stop(100%,lighten(@royal-blue-3, 20%)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, @near-white 0, @light-grey 100%, lighten(@royal-blue-3, 20%) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, @near-white 0, @light-grey 100%, lighten(@royal-blue-3, 20%) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, @near-white 0, @light-grey 100%, lighten(@royal-blue-3, 20%) 100%);
  /* IE10+ */
  background: linear-gradient(to right, @near-white 0, @light-grey 100%,lighten(@royal-blue-3, 20%) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#7db9e8',GradientType=1 );
/* IE6-9 */
}
div.hd-menu-item { }
div.hd-menu-icon { }
div.hd-menu-caption { }
hr.hd-menu-divider { }

/** Dot Codes: Allow template authors to apply formatting to titles, prompts, and other interview text. **/
.dot-b /* bold */ { }
.dot-i /* italic */ { }
.dot-u /* underline */ { }
.dot-x /* strike through */ { }
.dot-s /* small caps */ { }
.dot-a /* uppercase */ { }
.dot-h /* hidden */ { }
.dot-l /* Capitalize first letter of each word */ { }
.dot-w /*web link*/ { color: @royal-blue-2; text-decoration: underline; }

/** DatePicker: These styles apply to the popup calendar displayed for Date variables. **/
div.hd-datepicker { }
table.hd-datepicker-grid { border: 1px outset; }
td.hd-datepicker-titlebar { background-color: @near-black; padding: 2px; }
td.hd-datepicker-title { color: @white; }
td.hd-datepicker-day { background-color: @white; padding: 2px; border: 1px solid @mid-grey; border-width: 0 1px 1px 0; }
td.hd-datepicker-label { background-color: @silver; color: @white; padding: 0; padding-bottom: 2px; }
td.hd-datepicker-weekend { background-color: @light-grey; }
td.hd-datepicker-selected { background-color: @light-silver; color: @white; font-weight: bold; }
td.hd-datepicker-today { background-color: @light-silver; }

/** Dialog Elements: Used to display text, graphics, buttons, and hyperlinks in dialogs. **/
.DlgElemLnk { }
.DlgElemLnkText * { color: Blue !important; text-decoration: underline; }

/** ValidationErrorControl: Displayed below date and number fields with invalid answers. **/
div.hd-validation { }

/** DataGrid: Used to display spreadsheet dialogs and answer sources in a grid. **/
div.hd-grid { background-color: @white; border-color: @dim-grey; }
trhd-grid-header {
  background: @white;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ecedef')";
  background: -moz-linear-gradient(top, @white 0, @moon-grey 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0,@white), color-stop(100%,@moon-grey));
  background: -webkit-linear-gradient(top, @white 0,@moon-grey 100%);
  background: -o-linear-gradient(top, @white 0,@moon-grey 100%);
  background: -ms-linear-gradient(top, @white 0,@moon-grey 100%);
  background: linear-gradient(to bottom, @white 0,@moon-grey 100%);
}
trhd-grid-body { }
.hd-grid-line { border-color: @light-silver; }
div.hd-grid-row { background-color: @white; }
div.hd-grid-row:hover, div.hd-grid-row:hover .hd-grid-rh { background-color: @light-cyan; }
div.hd-grid-row-alt { background-color: @near-white; }
div.hd-grid-row-alt:hover, div.hd-grid-row-alt:hover .hd-grid-rh { background-color: @moon-grey; }
div.hd-grid-selected, div.hd-grid-selected:hover { background-color: darken(@light-cyan, 15%); }
div.hd-grid-selected .hd-grid-rh { background-color: @light-cyan !important; }

/** Dialog Content & Layout Styles **/
div.RunonDlgContent { padding-bottom: 14px; /* default spacer between dialogs in single-page interviews */ }
.hd-dlg-title { background-color: @light-silver; color: @near-black; font-weight: bold; }
div.DlgTitle { font-size: 125%; font-weight: bold; }
.hd-dlg-content { background-color: @near-white; }
.hd-input-prompt { }
.hd-input-currency { }
.GrayText { color: gray; }
input:disabled { background-color: @near-white; border: 1px solid @light-silver; padding: 2px 1px 2px 1px; }
.HDRequired /* applies to prompts of variables that are REQUIREd by scripting in the template */ { color: @crimson; }
.HDMarked /* applies to Prompts (SPAN or LABEL) of variables that are marked unanswered BY THE SERVER */ { /* Note: if your templates contain any dialogs that have prompts to the left of fields, AND              where the fields are not aligned, then it is not recommended for any of the styles applied here to change the size or spacing of the text. */ color: @crimson; }
span.HDSSMarked /* applies to the spreadsheet column headings (SSCHTitle) of variables marked unanswered BY THE SERVER */ { color: @crimson; }
td.HDSSMarked /* applies to the spreadsheet column header cell (SSFixed) of variables marked unanswered BY THE SERVER */ { background-color: @pink; }
span.errorText { color: @crimson; }
div.GrpBoxTitle { }
span.GrpBoxTitle { }
div.GrpBoxBox, .hd-input-tf-gb { background-color: @moon-grey; border: 1px solid @silver; border-radius: 5px; margin-top: 3px; padding: 0.5em; }
div.hd-input-box-disabled { border-color: lightgray; }
.hd-input { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; border: 1px solid @silver; }
input.hd-input-readonly /*ReadOnlyStyle*/ { border: 1px solid @light-silver; background-color: @near-white; }
button.hd-child-btn:hover { border-color: @cyan; }
button.hd-child-btn:disabled { border-color: transparent; }
button.hd-child-btn DIV { line-height: 20px; }
.hd-input-text:disabled { color: gray; }
.hd-text-readonly:disabled { color: @black; background-color: @light-grey; }
option.hd-input-mc-lb-item-readonly { color: @silver; }

/** Sidebars  **/
.hd-collapse-bar { background-color: @pink; border:1px solid transparent; }
.hd-collapse-bar:hover { background-color: @light-silver; }
.hd-float-title-bar { background-color: @light-silver; border:1px solid transparent; }
.hd-sidebar { background-color: @light-silver; border-color: @black; }

.hd-gridsplitter {
  background: transparent;
  cursor: move;

  &:hover {
    background: @near-black;
  }

  &-v {
    width: 2px;

    &:hover {
      width: 2px;
    }

  }
}

#hdHeading {
  .hdtb-logo, .hd-titlebar-icon {
    display: none !important;
  }
}

#hdOutlineDiv {
  background: transparent;

  #hdOutlineContent {
    background: transparent;
  }

  .hd-img {
    display: none;
  }

  .hd-lin-s {
    background-image: none;

    ul {
      margin: 0.3em 0 0 0;
    }

    .hd-lin-s {
      margin-bottom: 0.1em;
    }
  }

  li.hd-lin-s {
    position: relative;
    padding-bottom: 1em;

    &:after {
      content: ' ';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 50%;
      height: 1px;
      background: @navy;
    }
  }

  .hd-float-title-bar {
    display: none;
  }


}

#mainContainer {
  max-width: @LAYOUT_MAX_WIDTH - 200px;
}

#infoContainer {
  width: 200px;
  padding-top: 3em;

  & > div {
    border-left: 3px solid @cyan;
    padding-left: 0.6em;
  }

  .ui-dialog-content {
    background: transparent;
  }

  #info {
    display: none;

    &.active {
      display: block;
    }
  }
}

.hd-popup-resource {
  display: none !important;
}

#hdInterviewDiv {
  position: relative;

  .hd-dlg-content {
    width: auto;
    margin: 2em 2em 2em 4em;
    box-shadow: -5px 5px 50px 0 fade(@cyan, 30%);
  }

  #hdDlgTitle {
    margin: 0 0 1rem;

    button {
      margin: 0.5em 1.2em 0;
      width: calc(100% - 2.4em) !important;
      background: fade(@black, 1%);
      border: none;
      cursor: pointer;
      color: @navy;
      padding: 0.2em 1.5em !important;
      font-size: 1.5em;
      transition: background 0.2s;

      &:hover {
        background: fade(@black, 10%);
      }

      div {
        display: inline-block;
      }

      &:before {
        content: 'Back to:';
        margin-right: 0.5em;
        background-position: left center;
        background-repeat: no-repeat !important;
        background-size: contain;
        padding-left: 2em;
        // background-image: url('/assets/icons/arrow-left.svg');
      }
    }
  }

  .hd-dlg-title {
    padding: 0;
  }

  .DlgTitle {
    font-size: 1.3em;
    padding: 1rem 1.3rem 0.8rem;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: @navy;
    margin: 0;
    border-bottom: 1px solid @navy;
    font-weight: normal;
  }

  .hd-cell-input {
    border-left: 3px solid @white;
    background: transparent;
    transition: all 0.2s;

    &.active {
      background: fade(@alice-blue, 50%);
      border-left: 3px solid @cyan;
    }

    & > div {
      margin: 0.3rem 1.8rem;
    }

    & > table {
      margin: 0 1.8rem;
      width: calc(100% - 4rem);
    }

    .hd-rsrc {
      opacity: 0;
    }
  }


  .hd-dlg-content {
    background: transparent;

    hr {
      border: none;
      border-bottom: 2px solid fade(@black, 10%);
      margin: 1em 0;
      padding: 0;
    }
  }

  .hd-input-currency {
    vertical-align: middle;
    font-size: 1.2em;
  }

  .hd-input-wrapper, .hd-width-calc {
    .hd-input {
      padding: 0.4em 0.5em;
      margin: 0.5em 0;
      font-size: 1.1em;
      border: 1px solid @silver;
    }

    .hd-input-num {
      min-width: 3em;
    }

    .hd-input-date {
      min-width: 8em;
    }
  }

  .GrpBoxBox {
    background: transparent;
    border: none;
    font-weight: normal;
  }

  .hd-cell-input {
    padding-top: 0.5em;
    font-size: 1.3em;
  }

  .hd-input-prompt {
    font-size: 1em;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: @dark-grey;
    font-weight: 600;
  }

  .hd-prompt-left {
    padding-right: 1em;
    vertical-align: middle;
  }

  .hd-cal-calendar {
    top: 4px;
  }

  .hd-cell-input {
    table {
      border: none;

      .hd-grid-header {
        border: none;
        background: @alice-blue;
        color: @navy;
        height: 2em;
        border-bottom: 1px solid fade(@black, 10%);

        div {
          padding: 0;
          height: 2em;
          max-height: 2em;
          line-height: 2em;
          background: transparent !important;
          cursor: default;
        }
      }

      .hd-grid-body {
        border: none;
        background: transparent;

        .hd-grid-rh {
          border-color: fade(@black, 10%);
        }
      }
    }
  }

  #HDContentGrid {
    margin-bottom: 4em;
  }

  #HDContentGrid button, #hdNavBar .hd-nav-table button {
    border: none;
    padding: 0 0.7em;
    background-color: @cyan;
    color: @white;
    line-height: 1.5em;
    height: 2.5em;
    font-size: 1.2em;
    cursor: pointer;
    &:disabled {
      background-color: @silver;
      color: @white;
      cursor: default;
    }
  }

  .hd-content-grid {
    .hd-btn-grid {
      padding: 0 2em;
    }
  }

  #hdNavBar {
    position: absolute;
    bottom: 0.2em;
    z-index: 1000;
    padding-left: 2.2em;
    height: 4em;

    .hd-nav-table {
      position: relative;
      display: flex;
      flex-direction: row;
      width: 90%;
      margin: 0 auto;

      .hd-nav-left, .hd-nav-right {
        float: none;
        width: 14em;
      }
      .hd-nav-right {
        order: 1;
      }

      button[name="More"] {
        display: none !important;
      }

      .hd-nav-left, .hd-nav-right, .hd-nav-middle {
      }

      .hd-nav-sff {
        display: block !important;
      }

      .hd-nav-middle {
        position: relative;
      }

      .hd-btn-text {
        color: @white;
        visibility: visible !important;
        display: inline-block;
        width: auto !important;
      }

      .hd-img-g, .hd-nav-Next, .hd-nav-Prev {
        display: none;
      }

      button {
        text-align: center;
      }
      //
      // button[name="More"] {
      //   display: none !important;
      // }
      //
      // button[name="Previous"] {
      //   left: 0;
      // }
      //
      // button[name="Next"] {
      //   right: 0;
      // }
      //
      // button[name="Next"], button[name="Previous"] {
      //   position: absolute;
      //   padding: 0;
      //   border: none;
      //   background-color: @cyan;
      //   color: @white;
      //   margin: 5px;
      //   width: 8em;
      //   height: 8em;
      //   line-height: 1em;
      // }
    }
  }

}

.hd-dlg-title {
  background: transparent;

  &-btn {
    display: none;
  }
}

.ui-dialog {
  border: none;
  border-radius: 0;
  box-shadow: 0px 5px 30px 0 fade(@cyan, 60%);
  background: @white;

  &-content {
    background: @black;
  }

  &-titlebar .hd-img {
    pointer-events: none;
  }
}


.hd-img, .hd-img-g, .ui-icon {
  background-color: transparent;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  border-radius: 2px;

  // &.hd-clr-ans { background-image: url('/assets/icons/window-close.svg'); } // clear answer
  // &-closethick { background-image: url('/assets/icons/window-close.svg'); } // clear answer
  // &.hd-rsrc { background-image: url('/assets/icons/lightbulb-outline.svg'); } // resource
  // &.hd-cal-calendar { background-image: url('/assets/icons/calendar.svg'); }
  // &.hd-nav-Finish { background-image: url('/assets/icons/check-white.svg'); }
  // &.hd-nav-Sep { background-image: url('/assets/icons/dots-vertical.svg'); }
  // &.hd-sser { background-image: url('/assets/icons/table-edit.svg'); }
  // &.hd-ssir { background-image: url('/assets/icons/table-row-plus-after.svg'); }
  // &.hd-ssdr { background-image: url('/assets/icons/table-row-remove.svg'); }
  // &.hd-cal-py { background-image: url('/assets/icons/chevron-double-left.svg'); }
  // &.hd-cal-pm { background-image: url('/assets/icons/chevron-left.svg'); }
  // &.hd-cal-nm { background-image: url('/assets/icons/chevron-right.svg'); }
  // &.hd-cal-ny { background-image: url('/assets/icons/chevron-double-right.svg'); }
  // &.hd-mov-u { background-image: url('/assets/icons/arrow-up.svg'); }
  // &.hd-mov-d { background-image: url('/assets/icons/arrow-down.svg'); }
  // &.hd-adit { background-image: url('/assets/icons/table-column-plus-after.svg'); }
  // &.hd-error-16 { background-image: url('/assets/icons/alert.svg'); }
  // &.hd-alert { background-image: url('/assets/icons/alert-circle.svg'); }
  // &.hd-grid-arrow { background-image: url('/assets/icons/chevron-right.svg'); }

  &.hd-nav-Save {
    // background-image: url('/assets/icons/content-save-white.svg');
    width: 20px;
    height: 20px;
    color: #fff;
    margin-left: 5px;
  }
}


#hdMainDiv {
  max-width: @LAYOUT_MAX_WIDTH;
  margin: 0 auto;

  .hd-loader-progbar-msg {
    color: @black;
  }

  .hd-cell-button > div {
    cursor: pointer;
  }

  .hd-datepicker {
    font-size: 1.2em;
    width: 20em;
    border: 1px solid fade(@black, 30%);

    table {
      width: 100%;

      td {
        border: none;
      }
    }


    &-grid {
      border: none;
    }

    &-titlebar {
      background: @cyan;
      color: @near-black;
      padding: 0.5em;
    }

    &-selected {
      background: @royal-blue-1;
      color: @white;
    }

    &-label, &-label:hover {
      background: lighten(@royal-blue-3, 30%) !important;
      color: @navy !important;
      border-bottom: 1px solid fade(@black, 30%) !important;
      padding: 0.3em 0 0.3em;
      border-top: 1px solid fade(@black, 30%) !important;
      font-weight: lighter;
    }

    &-day:hover {
      background: @cyan;
      color: @white;
    }
  }

  .hd-validation {
    background: fade(@cyan, 50%);
    padding: 0.2em 0.5em;
    width: 60%;
    border-radius: 2px;

    .hd-img {
      margin-top: 0.2em !important;
    }
  }
}

#hdOutlineDiv {
  .hd-lin-s {
    margin-bottom: 1em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    a {
      cursor: pointer;

      &:hover {
        text-decoration: underline !important;
      }
    }
  }

  .hd-ol-entry {
    opacity: 0.6;
    font-size: 1em;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: @navy;
    white-space: normal;
    font-weight: 500;
  }

  #hdOutlineCurrent {
    color: @navy;
    opacity: 1;
    line-height: 1.2em;
    font-size: 1.3em;
    background: none;
    padding-bottom: 0;
  }

}

#progressBarNumbers {
  height: 2.5em;
  background: @alice-blue;
}

#progressBar {
  height: 5px;
  background-color: darken(@alice-blue, 5%);
  margin-bottom: 0.5em;

  .hd-progress {
    background: transparent;
    max-width: @LAYOUT_MAX_WIDTH;
    width: 96%;
    margin: 0 auto;

    &-normal {
      background-color: @navy;
      position: relative;
      transition: width 0.4s;

      // &:before,
      &:after {
        position: absolute;
        top: -1.8em;
        font-size: 1em;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.6;
        letter-spacing: normal;
        color: @navy;
        font-weight: bold;
      }
      // &:before {
      //   left: -3em;
      //   content: '0%';
      //   z-index: 2;
      //   background: @alice-blue;
      //   padding-left: 3em;
      // }

      &:after {
        left: calc(100% - 0.7em);
        content: attr(style);
        overflow: hidden;
        width: 2.2em;
        white-space: nowrap;
        text-align: right;
        direction: rtl;
        text-indent: 0;
        word-spacing: 2em;
        z-index: 1;
      }
    }
  }
}

#hdHeading {
  display: none;
}

#layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;

  .row {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: center;
  }

  > .row {
    max-width: 1350px;
    width: 96%;
    margin: 0 auto;
  }

  &-left {
    width: 10em;
  }
  &-main {
    flex-grow: 1;
  }
  &-right {
    width: 10em;
  }

  &-heading {
    height: 2em;
  }
}

.hd-input-tf {
  background: transparent;
  border: none;

  input[type=radio] {
    width: 0;
    opacity: 0;
  }

  input[type=radio] + label {
    display: inline-block;
    padding: 0 1em;
    text-align: center;
    background-color: fade(@light-silver, 10%);
    border: solid 2px @silver;
    margin-right: 1em;
    cursor: pointer;
    min-width: 4em;
    font-size: 1em;
    line-height: 3em;
  }

  input[type=radio]:checked + label {
    background: @cyan;
    border-color: @cyan;
    color: @white;
  }

  br {
    display: none;
  }
}

.ui-widget-overlay.ui-front {
  z-index: 20000 !important;
  background-color: @white;
  opacity: 0.7;
  display: none;
}


.hd-collapse-bar {
  display: none !important;
}

#hdShader {
  background: @white;
}

.attempted .HDRequired + table input:empty {
  border-color: @crimson !important;
}
