/*

  Fix
  ---

  Fixes! Add a comment explaining what bug it fixes and if you found the
  solution on e.g. StackOverflow then include the link.

*/

// Fixes a problem on Chrome with scrolling on nested flex columns.
// https://code.google.com/p/chromium/issues/detail?id=506893
.chrome-nested-flex-column-fix {
  min-width: 0;
  min-height: 0;
}

// Common clearfix for floats.
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.firefox-flex-grow-fix {
  .desktop({
    flex-basis: 0;
  });
}

// Fallback to justify-content: space-around for IE.
// https://caniuse.com/#search=space-evenly
.ie-fix-justify-evenly {
  justify-content: space-around;
}

// fix for edge browser
@supports (-ms-ime-align: auto) {
  .justify-evenly {
    justify-content: space-around;
  }
}

// Hide default chevron on select elements.
// https://developer.mozilla.org/en-US/docs/Learn/HTML/Forms/Advanced_styling_for_HTML_forms#Dealing_with_the_select_nightmare
.ie-hide-default-select-chevron::-ms-expand {
  display: none;
}

// Fixes margin collapse problems on e.g. Contact page without having to
// set overflow: auto directly on this div (which messes up the topics content
// page). https://stackoverflow.com/a/48872483
.margin-collapse-fix {
  &:after {
    content: '';
    overflow: auto;
    display: block;
  }
}

// Fallback to position: fixed for IE.
.no-csspositionsticky .ie-sticky-fix {
  position: fixed;
}

// Use margin top to push the applied filters down below the filters bar.
.no-csspositionsticky .ie-documents-applied-filters-margin-top {
  .desktop({
    margin-top: @document-filters-height-desktop;
  });
}

// Use margin top to push the search results down below the search subheader.
.no-csspositionsticky .ie-search-results-margin-top {
  .desktop({
    margin-top: @search-subnav-height-desktop;
  });
}

// Position the elements that fallback to fixed appropriately.
.no-csspositionsticky .ie-documents-filters-top,
.no-csspositionsticky .ie-search-header-top {
  .desktop({
    top: @nav-height-desktop;
  });
}

.no-csspositionsticky .partner-banner .ie-documents-filters-top,
.no-csspositionsticky .partner-banner .ie-search-header-top {
  .desktop({
    top: calc(@nav-height-desktop + @partner-banner-height-desktop);
  });
}

.no-csspositionsticky .ie-filters-top-spacing {
  .desktop({
    height: @document-filters-height-desktop;
    display: block;
  })
}

// Fixes a problem with border images on Safari. If you set a border image
// on an element that has border-style-left set on it, the border will also
// appear on the right
.safari-border-image-fix {
  border-right: 0px solid transparent;
}

// Disabled input elements on Safari appear lighter by default, which
// makes them difficult to read.
// https://stackoverflow.com/questions/262158/disabled-input-text-color
.safari-disabled-input-fix(@color) {
  -webkit-text-fill-color: @color;
  -webkit-opacity: 1;
}

// 100vh doesn't work well on mobile devices because the address bar can
// change the height of the viewport and mobile browsers treat 100vh as the
// height of the viewport with the address bar collapsed.
// https://css-tricks.com/the-trick-to-viewport-units-on-mobile/
.vh-100-minus-nav-mobile-fix {
  height: calc((var(--vh, 1vh) * 100) - @nav-height-mobile);
}
.vh-100-minus-nav-banner-mobile-fix {
  height: calc((var(--vh, 1vh) * 100) - (@nav-height-mobile + @partner-banner-height-mobile));
}

div#hubspot-messages-iframe-container.widget-align-right {
  right: @spacing-5 !important
}

.subheader-min-height {
  min-height: 5rem;
}