.grid-menu-container {
  margin: 0 10px 20px 20px;
}

.second-col {
  height: 300px;
}

.box, .sm-box {
  font-size: 1rem;
}

.sm-box {
  background-color: aquamarine;
}

.image-1 {
  height:328px;
}

.image-2 {
  height: 288px;
}

.image-3 {
  height: 370px;
}

.show-more {
  max-height: 2000px !important;
}

.bottom-row {
  border: 2px solid darkblue;
}


.border {
  border: 2px solid rebeccapurple;
}

.item-wrapper {
  width:100%;
  border-radius: 5px;
  background-color: white;
  -webkit-box-shadow: 0 0 16px 4px rgba(0,0,0,0.5);
  -moz-box-shadow: 0 0 16px 4px rgba(0,0,0,0.5);
  box-shadow: 0 0 16px 4px rgba(0,0,0,0.5);
}

@media only screen and (max-width: 600px) {
  .image {
    display: none;
  }
}

@media only screen and (min-width: 600px) {
  .mobile-only {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .expandable {
    border: none;
  }
}

@media only screen and (max-width: 600px) {
  .desktop-only {
    display: none;
  }
}

@media only screen and (max-width: 1200px) {
  .box-0 {
    max-height: 700px;
    min-height: 700px !important;
  }
  .box-1 {
    max-height: 442px;
    min-height: 442px !important;
  }
  .box-2 {
    max-height: 414px;
    min-height: 414px !important;
  }
  .image-3 {
    max-height:294px !important;
  }
}

@media only screen and (max-width: 800px) {
  .box-10 {
    max-height: 310px;
    min-height: 310px !important;
  }
  .box-11 {
    max-height: 310px;
    min-height: 310px !important;
  }
  .box-12 {
    max-height: 310px;
    min-height: 310px !important;
  }
}

.desktop-tile-icon {
  position: absolute;
  margin: 20px 12px 10px 10px;
}

.show-more-icon-background {
  position: absolute;
  width: 100%;
  height: 22px;
  bottom: 0;
  border-radius: inherit;
  background: -moz-linear-gradient(270deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 34%, rgba(255,255,255,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(34%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(270deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 34%, rgba(255,255,255,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(270deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 34%, rgba(255,255,255,1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(270deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 34%, rgba(255,255,255,1) 100%); /* ie10+ */
  background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 34%, rgba(255,255,255,1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* ie6-9 */
}

.mobile-tile-title, .desktop-tile-title {
  font-family: 'Nunito Sans', sans-serif;
  .fl;
  font-weight: 500;
  letter-spacing: 0.01em;
  color: #232a3a;
}

.mobile-tile-title {
  padding-top: 8px;
  padding-left: 10px;
  line-height: 1.2;
}

.desktop-tile-title {
  margin-top: 28px;
  margin-bottom: 26px;
  margin-left: 72px;
  line-height: 1.2;
}

.topic-list-item-link {
  display: block;
  line-height: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

.mobile-tile-content {
  font-family: "Nunito Sans", sans-serif;
}

.expand-more-button {
  width: 100%;
  height: 0;
  text-align: center;
}

.desktop-icon-button {
  top: -28px;
  opacity: 0.8;
}

.overflow-detector {
  overflow: hidden;
  border-radius: inherit;
}

.mobile-expansion-panel-details {
  padding: 0 6px 0 60px;
}

#wrapper {
  height:100%;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

#wrapper td {
  vertical-align: middle;
  text-align: center;
}

.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.6s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-out {
  opacity: 0;
  animation-name: fadeOutOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: 0.6s;
}

@keyframes fadeOutOpacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.expansion-panel-summary {
  padding-left: 12px;
  padding-right: 12px;
}
