/*

  Helpers
  -------

  This file is for mixins and helpful generic classes that aren't simple enough
  to be considered a utility class. Should be used sparingly!

*/

// Adds a little triangle to the top or bottom of a popup box. Used on glossary
// popovers and landing page feature menu.
.arrow(@width; @height; @color; @left; @top: true) {
  .absolute;
  left: @left;
  border-left: calc(@width / 2) solid transparent;
  border-right: calc(@width / 2) solid transparent;
  & when (@top) {
    top: 0;
    transform: translateY(-100%);
    border-bottom: @height solid @color;
  }
  & when (@top = false) {
    bottom: 0;
    transform: translateY(100%);
    border-top: @height solid @color;
  }
}

.border-gradient(@type; @colors; @dir: 0deg; @prefixes: webkit, moz, ms, o; @index: length(@prefixes)) when (@index > 0) {
  .border-gradient(@type; @colors; @dir; @prefixes; (@index - 1));
  @prefix  : extract(@prefixes, @index);
  @dir-old : 90 - (@dir);
  border-image: ~"-@{prefix}-@{type}-gradient(@{dir-old}, @{colors})" 1 100%;
  & when ( @index = length(@prefixes) ) {
    border-image: ~"@{type}-gradient(@{dir}, @{colors})" 1 100%;
  }
}

// Vertically and horizontally centres an element.
// NOTE: Still have to add absolute and relative positions on the relevant
// elements.
.center {
  top: 50%;
  left: 50%;
  .transform(translate(-50%, -50%));
}

// Horizontally centres an element.
.center-h {
  left: 50%;
  .transform(translateX(-50%));
}

.tablet({
  .center-h-t { .center-h; }
});


 // Vertically centres an element.
.center-v {
  top: 50%;
  .transform(translateY(-50%));
}

// Mixin for cross-browser background gradients.
// NOTE: https://webdesign.tutsplus.com/tutorials/making-gradients-easier-with-less-mixins--cms-24072
.gradient(@type; @colors; @dir: 0deg; @prefixes: webkit, moz, ms, o; @index: length(@prefixes)) when (@index > 0) {
  .gradient(@type; @colors; @dir; @prefixes; (@index - 1));
  @prefix  : extract(@prefixes, @index);
  @dir-old : 90 - (@dir);
  background-image: ~"-@{prefix}-@{type}-gradient(@{dir-old}, @{colors})";
  & when ( @index = length(@prefixes) ) {
    background-image: ~"@{type}-gradient(@{dir}, @{colors})";
  }
}

// Hide and show a child element on parent hover.
.hide-child .child { opacity: 0; transition: opacity 0.3s ease-in; }
.hide-child:hover .child { opacity: 1; }

// Visually hide text for screen readers.
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

// Slide effect used on e.g. TopicBrowser columns.
.slide { transition: transform 0.4s ease; }

// Add vendor prefixes to transform property.
.transform(...) {
  -webkit-transform: @arguments;
  -moz-transform: @arguments;
  -o-transform: @arguments;
  -ms-transform: @arguments;
  transform: @arguments;
}

// Hide radio input element.
// QUESTION: Why can't we do visibility: hidden and position: absolute?
input.remove-tick {
  .b--none;
  clip: rect(1px,1px,1px,1px);
  clip-path: inset(50%);
  .overflow-hidden;
  .pa0;
  .absolute;
  .w0;
  user-select: none;
}
