/*

  Scroll
  ------

*/

.scrolling-container {
  flex-grow: 1;
  overflow-x: hidden;
  .firefox-flex-grow-fix;
}

.sticky-scrolling-container {
  overflow: hidden;
  .relative;
  display: flex;

  &__overlay {
    .absolute;
    top: 0;
    left: 0;
    z-index: 101;
  }

  &__fixed {
    .absolute;
    top: 0;
    transform: translate(0, -100%);
    width: 100%;
  }
}
