/*

  Media
  -----

  Define media queries.

*/

.responsive(@width, @rules) {
  @media screen and (max-width: @width) {
    @rules();
  }
}

.tablet(@rules) {
  .responsive(@TABLET_MAX_WIDTH, @rules);
}

.tablet-only(@rules) {
  @media screen and (min-width: @MOBILE_MAX_WIDTH) and (max-width: @TABLET_MAX_WIDTH) {
    @rules();
  }
}

.mobile(@rules) {
  .responsive(@MOBILE_MAX_WIDTH, @rules);
}

.xs-mobile(@rules) {
  .responsive(367px, @rules);
}

.mui-sm(@rules) {
  .responsive(959px, @rules)
}

.desktop(@rules) {
  @media screen and (min-width: @DESKTOP_MIN_WIDTH) {
    @rules();
  }
}

.desktop-only(@rules) {
  @media screen and (min-width: @DESKTOP_MIN_WIDTH) {
    @rules();
  }
}

.large-desktop(@rules) {
  @media screen and (min-width: @LARGE_DESKTOP_MIN_WIDTH) {
    @rules();
  }
}
