/*

  Variables
  ---------

  Define variables.

*/

@PAGE_MAX_WIDTH: 970;
@MOBILE_MAX_WIDTH: 520;
@TABLET_MIN_WIDTH: 521;
@TABLET_MAX_WIDTH: 768;
@DESKTOP_MIN_WIDTH: 769;
@LARGE_DESKTOP_MIN_WIDTH: 1800;
@LAYOUT_MAX_WIDTH: 1200;
@LAYOUT_PADDING: 20;
@BROWSER_COLUMN_WIDTH: 340;
@BROWSER_COLUMN_WIDTH__TABLET: 230;
@PRICE_PANEL_WIDTH: 320;

@font-default: 'Nunito Sans', sans-serif;
@nav-height-desktop: 4.5rem;
@nav-height-tablet: 2.8125rem;
@nav-height-mobile: 2.8125rem;
@search-subnav-height-desktop: 9.4rem;
@search-results-filters-width: 21rem;
@breadcrumbs-height-desktop: 4rem;
@footer-height-desktop: 25rem;
@footer-margin-desktop: 2em;
@scrollbar-width: 3px;
@landing-page-slant-height: 4rem;
@landing-page-slant-height-mobile: 2rem;
@topicscontent-scale: 3;
@document-filters-height-desktop: 4.7rem;
@partner-banner-height-desktop: 2.625rem;
@partner-banner-height-tablet: 2.625rem;
@partner-banner-height-mobile: 2.625rem;

// Colours
@alice-blue:       #eff8ff;
@black:            #000000;
@blue-grey:        #738897;
@cobalt:           #253e9a;
@coral:            #fa714f;
@crimson:          #cc0033;
@cyan:             #17afc5;
@dark-green:       #004e02;
@dark-grey:        #404040;
@dark-slate-blue:  #243d99;
@dark-slate-grey:  #232a3a;
@dim-grey:         #4f5d6c;
@forest-green:     #007428;
@goldenrod:        #ffc242;
@grey:             #757575;
@light-blue:       #abc9e5;
@light-cyan:       #d5eaf1;
@light-grey:       #f4f4f4;
@light-moon-grey:  #f3f4f5;
@light-sea-green:  #14bbc4;
@light-silver:     #dfdfdf;
@medium-sea-green: #18b466;
@mid-grey:         #6a6a6a;
@midnight-blue-1:  #0d3773;
@midnight-blue-2:  #082c46;
@moon-grey:        #ecedef;
@navy:             #000e7a;
@near-black:       #333333;
@near-white:       #fafafa;
@peru:             #e09d3e;
@pink:             #ffd0d0;
@powder-blue:      #b4e5ea;
@royal-blue-1:     #314bc7;
@royal-blue-2:     #1360c6;
@royal-blue-3:     #407fd2;
@shamrock:         #41e097;
@silver:           #acacac;
@steel-blue:       #2579C5;
@white:            #ffffff;

// Icon Widths
@icon-width-1: 0.25rem;  // 4px
@icon-width-2: 0.5rem;   // 8px
@icon-width-3: 0.75rem;  // 12px
@icon-width-4: 1rem;     // 16px
@icon-width-5: 1.25rem;  // 20px
@icon-width-6: 1.5rem;   // 24px
@icon-width-7: 1.75rem;  // 28px
@icon-width-8: 2rem;     // 32px
@icon-width-9: 2.25rem;  // 36px
@icon-width-10: 2.5rem;  // 40px
@icon-width-11: 2.75rem; // 44px
@icon-width-12: 3rem;    // 48px
@icon-width-13: 3.25rem; // 52px
@icon-width-14: 3.5rem;  // 56px
@icon-width-15: 3.75rem; // 60px
@icon-width-16: 4rem; 	 // 64px
@icon-width-17: 4.25rem; // 68px
@icon-width-18: 4.5rem;  // 72px
@icon-width-19: 4.75rem; // 76px
@icon-width-20: 5rem;    // 80px

// Image Widths
@image-width-1: 6rem;     // 96px
@image-width-2: 6.5rem;   // 104px
@image-width-3: 7rem;     // 112px
@image-width-4: 7.5rem;   // 120px
@image-width-5: 8rem;     // 128px
@image-width-6: 8.5rem;   // 136px
@image-width-7: 9rem;     // 144px
@image-width-8: 9.5rem;   // 152px
@image-width-9: 10rem;    // 160px
@image-width-10: 10.5rem; // 168px
@image-width-11: 11rem;   // 176px
@image-width-12: 11.5rem; // 184px
@image-width-13: 12rem;   // 192px

@image-width-61: 36rem;   // 576px

// Measures
// NOTE: Not a completely sensible scale.
@measure-0: 14rem;    // 224px
@measure-1: 16rem;    // 256px
@measure-2: 24rem;    // 384px
@measure-3: 32rem;    // 512px
@measure-4: 40rem;    // 640px
@measure-5: 48rem;    // 768px
@measure-6: 60rem;    // 960px
@measure-7: 68rem;    // 1088px

// Spacing
@spacing-0:  0;
@spacing-1:  0.125rem; // 2px
@spacing-2:  0.25rem;  // 4px
@spacing-3:  0.375rem; // 6px
@spacing-4:  0.5rem;   // 8px
@spacing-5:  0.75rem;  // 12px
@spacing-6:  1rem;     // 16px
@spacing-7:  1.5rem;   // 24px
@spacing-8:  2rem;     // 32px
@spacing-9:  3rem;     // 48px
@spacing-10: 4rem;     // 64px
@spacing-11: 6rem;     // 96px
@spacing-12: 8rem;     // 128px
@spacing-13: 12rem;    // 192px
@spacing-14: 16rem;    // 256px
